openapi: 3.0.3
info:
  title: Supermetrics API
  version: 2.0.0
  description: Supermetrics API for authentication and data querying. For more information,
    visit https://supermetrics.com.
  contact:
    name: Supermetrics Support
    email: support@supermetrics.com
    url: https://supermetrics.com/support
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.supermetrics.com/enterprise/v2
  description: Global production public Supermetrics Data API base path.
  x-internal: false
- url: https://api.supermetrics.com
  description: Global production public Supermetrics API base path for datasource
    search.
  x-internal: false
- url: https://api.supermetrics.com/enterprise/v2
  description: Global production public Supermetrics Management API base path.
  x-internal: false
- url: https://dts-api.supermetrics.com/v1
  description: Global production public Supermetrics Data Warehouse Backfills API
    base path.
  x-internal: false
paths:
  /teams/{team_id}/datasource/{data_source_id}:
    get:
      summary: Get datasource configuration details
      description: Retrieve complete configuration details for a data source including
        report types, settings, and authentication requirements
      parameters:
      - name: team_id
        in: path
        required: true
        description: Team ID
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: data_source_id
        in: path
        required: true
        description: Data source identifier
        schema:
          type: string
          maxLength: 100
      - name: Sm-App-Id
        in: header
        required: false
        description: Application identifier
        schema:
          type: string
          maxLength: 100
        example: XPLD
      responses:
        '200':
          description: Successfully retrieved datasource details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasourceDetailsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/DatasourceNotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth:
        - default
      - BearerAuth:
        - default
      tags:
      - Datasource
  /teams/{team_id}/transfers/{transfer_id}/backfills:
    post:
      summary: Create a backfill
      description: 'Schedule a new backfill for a specific transfer. A backfill re-processes

        historical data for a specified date range.


        **Returns:** The created backfill object with its ID, status, and progress
        information.


        **Important Notes:**

        - The transfer must exist and belong to your team

        - You must have `dwh.transfer.edit` permission

        - The date range cannot overlap with an existing active backfill

        - Backfills are processed asynchronously

        - The returned backfill object will have status "CREATED" initially

        '
      operationId: createBackfill
      tags:
      - DWH backfills
      parameters:
      - $ref: '#/components/parameters/TeamIdPathParam'
      - $ref: '#/components/parameters/TransferIdPathParam'
      requestBody:
        required: true
        description: Backfill creation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBackfillRequest'
            example:
              range_start: '2024-01-01'
              range_end: '2024-01-31'
      responses:
        '200':
          description: Backfill successfully scheduled
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBackfillResponse'
              example:
                meta:
                  request_id: 01892A4D-7586-7000-8000-000000000000
                data:
                  transfer_backfill_id: 12345
                  transfer_id: 456789
                  range_start_date: '2024-01-01'
                  range_end_date: '2024-01-31'
                  created_time: '2024-02-01T09:00:00Z'
                  created_user_id: 789
                  start_time: null
                  end_time: null
                  status: CREATED
                  transfer_runs_total: 31
                  transfer_runs_created: 0
                  transfer_runs_completed: 0
                  transfer_runs_failed: 0
                  error_report: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Unprocessable Entity - The request was well-formed but contains
            semantic errors.
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                meta:
                  request_id: 01892A4D-7586-7000-8000-000000000000
                error:
                  code: VALIDATION_FAILED
                  message: Validation Failed
                  description: The start date must be before the end date.
        '404':
          description: Transfer not found
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                meta:
                  request_id: 01892A4D-7586-7000-8000-000000000000
                error:
                  code: NOT_FOUND
                  message: Not Found
                  description: The requested transfer could not be found or you do
                    not have access to it.
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
  /teams/{team_id}/transfers/{transfer_id}/backfills/latest:
    get:
      summary: Get latest backfill for a transfer
      description: 'Retrieve information about the most recent backfill for a specific
        transfer.

        This endpoint returns the latest backfill regardless of its status (pending,
        running, completed, failed, or cancelled).


        **Returns:** The latest backfill object with its ID, status, progress information,
        and error details if any.


        **Important Notes:**

        - The transfer must exist and belong to your team

        - You must have `dwh.transfer.view` permission

        - Returns 404 if no backfill has ever been created for this transfer

        - The backfill object includes real-time progress tracking for running backfills

        '
      operationId: getLatestBackfill
      tags:
      - DWH backfills
      parameters:
      - $ref: '#/components/parameters/TeamIdPathParam'
      - $ref: '#/components/parameters/TransferIdPathParam'
      responses:
        '200':
          description: Latest backfill retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBackfillResponse'
              examples:
                runningBackfill:
                  summary: Backfill currently in progress
                  value:
                    meta:
                      request_id: 01892A4D-7586-7000-8000-000000000000
                    data:
                      transfer_backfill_id: 12345
                      transfer_id: 456789
                      range_start_date: '2024-01-01'
                      range_end_date: '2024-01-31'
                      created_time: '2024-02-01T09:00:00Z'
                      created_user_id: 789
                      start_time: '2024-02-01T10:00:00Z'
                      end_time: null
                      status: RUNNING
                      transfer_runs_total: 31
                      transfer_runs_created: 31
                      transfer_runs_completed: 15
                      transfer_runs_failed: 0
                      error_report: []
                completedBackfill:
                  summary: Completed backfill
                  value:
                    meta:
                      request_id: 01892A4D-7586-7000-8000-000000000000
                    data:
                      transfer_backfill_id: 12344
                      transfer_id: 456789
                      range_start_date: '2023-12-01'
                      range_end_date: '2023-12-31'
                      created_time: '2024-01-15T07:00:00Z'
                      created_user_id: 789
                      start_time: '2024-01-15T08:00:00Z'
                      end_time: '2024-01-15T10:30:00Z'
                      status: COMPLETED
                      transfer_runs_total: 31
                      transfer_runs_created: 31
                      transfer_runs_completed: 31
                      transfer_runs_failed: 0
                      error_report: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Transfer or backfill not found
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                meta:
                  request_id: 01892A4D-7586-7000-8000-000000000000
                error:
                  code: NOT_FOUND
                  message: Not Found
                  description: No backfill has been created for this transfer yet,
                    or the transfer does not exist or belong to your team.
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
  /teams/{team_id}/backfills:
    get:
      summary: List incomplete backfills for team
      description: 'Retrieve a list of all incomplete backfills for your team.

        This endpoint returns only backfills that are not yet finished.


        **What are "incomplete" backfills?**

        - **Included:** Backfills with status `CREATED`, `SCHEDULED`, `RUNNING`, or
        `FAILED`

        - **Excluded:** Backfills with status `COMPLETED` or `CANCELLED`


        **Returns:** Array of backfill objects sorted by creation time (newest first).


        **Important Notes:**

        - You must have `dwh.transfer.view` permission

        - Only backfills belonging to your team are returned

        - The list includes backfills for all transfers in your team

        - Each backfill includes real-time progress tracking for running backfills

        '
      operationId: listIncompleteBackfills
      tags:
      - DWH backfills
      parameters:
      - $ref: '#/components/parameters/TeamIdPathParam'
      responses:
        '200':
          description: List of incomplete backfills retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                type: object
                required:
                - meta
                - data
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: array
                    maxItems: 100
                    items:
                      $ref: '#/components/schemas/Backfill'
                    description: Array of incomplete backfill objects
              examples:
                multipleBackfills:
                  summary: Multiple incomplete backfills
                  value:
                    meta:
                      request_id: 01892A4D-7586-7000-8000-000000000000
                    data:
                    - transfer_backfill_id: 12347
                      transfer_id: 456790
                      range_start_date: '2024-02-01'
                      range_end_date: '2024-02-28'
                      created_time: '2024-03-01T14:00:00Z'
                      created_user_id: 789
                      start_time: '2024-03-01T14:30:00Z'
                      end_time: null
                      status: RUNNING
                      transfer_runs_total: 28
                      transfer_runs_created: 28
                      transfer_runs_completed: 15
                      transfer_runs_failed: 0
                      error_report: []
                    - transfer_backfill_id: 12346
                      transfer_id: 456789
                      range_start_date: '2024-01-15'
                      range_end_date: '2024-01-31'
                      created_time: '2024-02-15T09:30:00Z'
                      created_user_id: 790
                      start_time: '2024-02-15T10:00:00Z'
                      end_time: null
                      status: RUNNING
                      transfer_runs_total: 17
                      transfer_runs_created: 17
                      transfer_runs_completed: 10
                      transfer_runs_failed: 0
                      error_report: []
                    - transfer_backfill_id: 12345
                      transfer_id: 456788
                      range_start_date: '2024-01-01'
                      range_end_date: '2024-01-14'
                      created_time: '2024-02-01T08:00:00Z'
                      created_user_id: 789
                      start_time: null
                      end_time: null
                      status: SCHEDULED
                      transfer_runs_total: 14
                      transfer_runs_created: 14
                      transfer_runs_completed: 0
                      transfer_runs_failed: 0
                      error_report: []
                emptyList:
                  summary: No incomplete backfills
                  value:
                    meta:
                      request_id: 01892A4D-7586-7000-8000-000000000000
                    data: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
  /teams/{team_id}/backfills/{backfill_id}:
    get:
      summary: Get backfill by ID
      description: 'Retrieve detailed information about a specific backfill using
        its unique identifier.

        This endpoint returns the complete backfill object with current status, progress
        tracking, and error details.


        **Returns:** The backfill object with its ID, status, progress information,
        and error details if any.


        **Important Notes:**

        - The backfill must exist and belong to your team

        - You must have `dwh.transfer.view` permission

        - Returns 404 if the backfill does not exist or does not belong to your team

        - The backfill object includes real-time progress tracking for running backfills

        '
      operationId: getBackfillById
      tags:
      - DWH backfills
      parameters:
      - $ref: '#/components/parameters/TeamIdPathParam'
      - $ref: '#/components/parameters/BackfillIdPathParam'
      responses:
        '200':
          description: Backfill retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBackfillResponse'
              example:
                meta:
                  request_id: 01892A4D-7586-7000-8000-000000000000
                data:
                  transfer_backfill_id: 12345
                  transfer_id: 456789
                  range_start_date: '2024-01-01'
                  range_end_date: '2024-01-31'
                  created_time: '2024-02-01T09:00:00Z'
                  created_user_id: 789
                  start_time: '2024-02-01T10:00:00Z'
                  end_time: null
                  status: RUNNING
                  transfer_runs_total: 31
                  transfer_runs_created: 31
                  transfer_runs_completed: 25
                  transfer_runs_failed: 2
                  error_report: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/BackfillNotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    patch:
      summary: Update backfill status
      description: 'Update the status of a backfill. Currently, the only supported
        operation is

        cancelling a backfill by setting status to "CANCELLED".


        **What happens when you cancel:**

        - Backfill status is changed to "CANCELLED"

        - All pending/queued transfer runs associated with this backfill are cancelled

        - Transfer runs that are already running will complete

        - The backfill''s `end_time` is set to the cancellation time

        - The `removed_time` and `removed_user_id` fields are set


        **Important: This endpoint does NOT delete the backfill.**

        - The backfill record remains in the system with status "CANCELLED"

        - You can still retrieve the backfill information using GET /v1/teams/{team_id}/backfills/{backfill_id}


        **Returns:** The updated backfill object with the new status and updated timestamps.


        **Important Notes:**

        - The backfill must exist and belong to your team

        - You must have `dwh.transfer.edit` permission

        - Only backfills with incomplete status (CREATED, SCHEDULED, RUNNING, FAILED)
        can be cancelled

        - Returns 404 if the backfill does not exist or does not belong to your team

        - Returns 422 if the backfill cannot be updated (e.g., already in a final
        state)

        '
      operationId: updateBackfillStatus
      tags:
      - DWH backfills
      parameters:
      - $ref: '#/components/parameters/TeamIdPathParam'
      - $ref: '#/components/parameters/BackfillIdPathParam'
      requestBody:
        required: true
        description: Status update parameters
        content:
          application/json:
            schema:
              type: object
              required:
              - status
              properties:
                status:
                  type: string
                  description: New status for the backfill. Currently only "CANCELLED"
                    is supported.
                  enum:
                  - CANCELLED
                  example: CANCELLED
            example:
              status: CANCELLED
      responses:
        '200':
          description: Backfill status successfully updated
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBackfillResponse'
              example:
                meta:
                  request_id: 01892A4D-7586-7000-8000-000000000000
                data:
                  transfer_backfill_id: 12345
                  transfer_id: 456789
                  range_start_date: '2024-01-01'
                  range_end_date: '2024-01-31'
                  created_time: '2024-02-01T09:00:00Z'
                  created_user_id: 789
                  removed_time: '2024-02-01T15:30:00Z'
                  removed_user_id: 790
                  start_time: '2024-02-01T10:00:00Z'
                  end_time: '2024-02-01T15:30:00Z'
                  status: CANCELLED
                  transfer_runs_total: 31
                  transfer_runs_created: 31
                  transfer_runs_completed: 25
                  transfer_runs_failed: 2
                  error_report: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/BackfillNotFound'
        '422':
          description: Unprocessable Entity - Backfill cannot be cancelled
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                meta:
                  request_id: 01892A4D-7586-7000-8000-000000000000
                error:
                  code: CANNOT_CANCEL_BACKFILL
                  message: Cannot Cancel Backfill
                  description: The backfill cannot be cancelled because it is already
                    in a final state.
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
  /query/data/json:
    get:
      summary: Query data
      description: Execute a query to retrieve data from a specified data source
      operationId: getData
      tags:
      - Get data
      parameters:
      - name: json
        in: query
        required: true
        description: JSON-encoded data query parameters
        example:
          ds_id: GA
          start_date: yesterday
          end_date: yesterday
          fields:
          - date
          - sessions
        schema:
          $ref: '#/components/schemas/DataQuery'
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Query executed successfully
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /query/accounts:
    get:
      summary: Get accounts
      description: Retrieve a list of available data source logins (authentications)
        and their accounts
      operationId: getAccounts
      tags:
      - Data source
      parameters:
      - name: json
        in: query
        required: true
        description: JSON-encoded account query parameters
        example:
          ds_id: GA
        schema:
          type: object
          required:
          - ds_id
          properties:
            api_key:
              type: string
              maxLength: 255
              pattern: ^[A-Za-z0-9_-]+$
              description: API key when not using an authorization header
            ds_id:
              type: string
              maxLength: 50
              pattern: ^[A-Za-z0-9_-]+$
              description: Data source ID
            ds_users:
              oneOf:
              - type: string
                maxLength: 255
              - type: array
                maxItems: 100
                items:
                  type: string
                  maxLength: 255
              description: List of data source login usernames to target (case-insensitive)
            cache_minutes:
              type: integer
              format: int32
              description: Maximum allowed age of cache in minutes
              minimum: 60
              maximum: 1440
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Accounts retrieved successfully
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        maxLength: 50
                        pattern: ^[A-Za-z0-9_-]+$
                        description: API request ID
                      query:
                        type: object
                        properties:
                          cache_minutes:
                            type: integer
                            nullable: true
                            format: int32
                            minimum: 60
                            maximum: 1440
                            description: Requested maximum age of cache in minutes
                  data:
                    type: array
                    maxItems: 100
                    items:
                      type: object
                      properties:
                        ds_user:
                          type: string
                          maxLength: 255
                          description: Data source login username
                        display_name:
                          type: string
                          maxLength: 255
                          description: Display name for login
                        cache_time:
                          type: string
                          nullable: true
                          format: date-time
                          maxLength: 30
                          description: ISO 8601 datetime for the last time the login
                            data was fetched and cached
                        accounts:
                          type: array
                          maxItems: 1000
                          items:
                            type: object
                            properties:
                              account_id:
                                type: string
                                maxLength: 50
                                pattern: ^[A-Za-z0-9_-]+$
                                description: Account ID
                              account_name:
                                type: string
                                maxLength: 255
                                description: Account name
                              group_name:
                                type: string
                                maxLength: 255
                                description: Account group name (empty string when
                                  not available)
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /ds/logins:
    get:
      summary: List logins
      description: Retrieve a list of all data source logins
      operationId: listDataSourceLogins
      tags:
      - Data Source Logins
      security:
      - BearerAuth: []
      responses:
        '200':
          description: List of data source logins retrieved successfully
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
                  data:
                    type: array
                    maxItems: 1000
                    items:
                      $ref: '#/components/schemas/DataSourceLogin'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/LoginSearchFailed'
  /ds/login/{login_id}:
    get:
      summary: Get login
      description: Retrieve details of a specific data source login
      operationId: getDataSourceLogin
      tags:
      - Data Source Logins
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Data source login details retrieved successfully
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
                  data:
                    $ref: '#/components/schemas/DataSourceLogin'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/LoginNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/LoginSearchFailed'
    parameters:
    - name: login_id
      in: path
      required: true
      schema:
        type: string
        maxLength: 50
        pattern: ^[A-Za-z0-9_-]+$
      description: Supermetrics login ID
  /ds/login/links:
    get:
      summary: List login links
      description: List all data source login links
      operationId: listLoginLinks
      tags:
      - Data Source Login Links
      security:
      - BearerAuth: []
      responses:
        '200':
          description: List of login links retrieved successfully
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
                  data:
                    type: array
                    maxItems: 1000
                    items:
                      $ref: '#/components/schemas/LoginLink'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /ds/login/link:
    post:
      summary: Create login link
      description: Create a new data source login link
      operationId: createLoginLink
      tags:
      - Data Source Login Links
      security:
      - BearerAuth: []
      requestBody:
        description: Login link creation parameters including data source and expiration
          settings
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - ds_id
              - expiry_time
              properties:
                ds_id:
                  type: string
                  maxLength: 50
                  pattern: ^[A-Za-z0-9_-]+$
                  description: Data source ID
                expiry_time:
                  type: string
                  format: date-time
                  maxLength: 50
                  description: Link expiry time as date, datetime or relative time
                    string. Value is saved as ISO 8601, defaulting to midnight as
                    time of day.
                description:
                  type: string
                  maxLength: 1000
                  description: Internal description for the link. Not shown during
                    the authentication attempt.
                require_username:
                  type: string
                  maxLength: 255
                  description: Data source username that needs to be used in authentication
                    attempt. Normally used when renewing existing credentials.
                redirect_url:
                  type: string
                  format: uri
                  maxLength: 500
                  description: Custom URL to redirect to after successful authentication.
            example:
              ds_id: GAWA
              expiry_time: '2024-12-31T23:59:59Z'
              description: Google Analytics login link for marketing team
              require_username: marketing@company.com
              redirect_url: https://company.com/auth/success
      responses:
        '201':
          description: Login link created successfully
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginLinkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/LinkLimitExceeded'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /ds/login/link/{link_id}:
    get:
      summary: Get login link
      description: Get details of a specific login link
      operationId: getLoginLink
      tags:
      - Data Source Login Links
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Login link details retrieved successfully
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginLinkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/LinkNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    parameters:
    - name: link_id
      in: path
      required: true
      schema:
        type: string
        maxLength: 50
        pattern: ^[A-Za-z0-9_-]+$
      description: Supermetrics login link ID
  /ds/login/link/{link_id}/close:
    put:
      summary: Close login link
      description: Close a login link. Link will stop accepting new requests once
        closed, but closing will not affect already started authentication attempts.
      operationId: closeLoginLink
      tags:
      - Data Source Login Links
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Login link closed successfully
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginLinkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/LinkNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/LinkUpdateFailed'
    parameters:
    - name: link_id
      in: path
      required: true
      schema:
        type: string
        maxLength: 50
        pattern: ^[A-Za-z0-9_-]+$
      description: Supermetrics login link ID
components:
  schemas:
    Backfill:
      type: object
      required:
      - transfer_backfill_id
      - transfer_id
      - range_start_date
      - range_end_date
      - status
      - created_time
      - created_user_id
      - transfer_runs_total
      - transfer_runs_created
      - transfer_runs_completed
      - transfer_runs_failed
      properties:
        transfer_backfill_id:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854775807
          description: Unique identifier of the backfill
          example: 12345
        transfer_id:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854775807
          description: ID of the transfer this backfill belongs to
          example: 456789
        range_start_date:
          type: string
          format: date
          maxLength: 10
          description: Start date of the backfill range
          example: '2024-01-01'
        range_end_date:
          type: string
          format: date
          maxLength: 10
          description: End date of the backfill range
          example: '2024-01-31'
        created_time:
          type: string
          format: date-time
          maxLength: 30
          description: Timestamp when the backfill was created (ISO 8601 format)
          example: '2024-02-01T09:00:00Z'
        created_user_id:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854775807
          description: ID of the user who created the backfill
          example: 789
        removed_time:
          type: string
          format: date-time
          maxLength: 30
          description: Timestamp when the backfill was cancelled/removed (ISO 8601
            format)
          example: '2024-02-01T15:00:00Z'
          nullable: true
        removed_user_id:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854775807
          description: ID of the user who cancelled/removed the backfill
          example: 790
          nullable: true
        start_time:
          type: string
          format: date-time
          maxLength: 30
          description: Timestamp when the backfill processing started (ISO 8601 format)
          example: '2024-02-01T10:00:00Z'
          nullable: true
        end_time:
          type: string
          format: date-time
          maxLength: 30
          description: Timestamp when the backfill processing completed (ISO 8601
            format)
          example: '2024-02-01T12:30:00Z'
          nullable: true
        status:
          type: string
          description: Current status of the backfill
          enum:
          - CREATED
          - SCHEDULED
          - RUNNING
          - FAILED
          - COMPLETED
          - CANCELLED
          example: RUNNING
        transfer_runs_total:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
          description: Total number of transfer runs created for this backfill
          example: 31
        transfer_runs_created:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
          description: Number of transfer runs that have been created
          example: 31
        transfer_runs_completed:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
          description: Number of transfer runs that have completed successfully
          example: 25
        transfer_runs_failed:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
          description: Number of transfer runs that have failed
          example: 2
        error_report:
          type: array
          description: List of errors that occurred during backfill processing (empty
            array if no errors)
          maxItems: 100
          items:
            $ref: '#/components/schemas/TransferBackfillRunError'
    CreateBackfillRequest:
      type: object
      required:
      - range_start
      - range_end
      properties:
        range_start:
          type: string
          format: date
          maxLength: 10
          description: Start date of the backfill range (inclusive)
          example: '2024-01-01'
          pattern: ^\d{4}-\d{2}-\d{2}$
        range_end:
          type: string
          format: date
          maxLength: 10
          description: End date of the backfill range (inclusive)
          example: '2024-01-31'
          pattern: ^\d{4}-\d{2}-\d{2}$
    CreateBackfillResponse:
      type: object
      required:
      - meta
      - data
      properties:
        meta:
          $ref: '#/components/schemas/Meta'
        data:
          $ref: '#/components/schemas/Backfill'
    DataQuery:
      type: object
      properties:
        api_key:
          type: string
          maxLength: 255
          pattern: ^[A-Za-z0-9_-]+$
          description: API key when not using an authorization header
          example: abc123def456
        schedule_id:
          type: string
          maxLength: 50
          pattern: ^[A-Za-z0-9_-]+$
          description: Schedule ID for this query request. If not provided, one will
            be generated from other query parameters
          example: my_query_123
        ds_id:
          type: string
          maxLength: 50
          pattern: ^[A-Za-z0-9_-]+$
          description: Target data source ID
          example: GA
        ds_accounts:
          oneOf:
          - type: string
            maxLength: 50
            pattern: ^[A-Za-z0-9_-]+$
          - type: array
            maxItems: 100
            items:
              type: string
              maxLength: 50
              pattern: ^[A-Za-z0-9_-]+$
          - type: object
          description: List of data source accounts the query should target, or a
            filter for them
          example:
          - account123
          - account456
        ds_segments:
          oneOf:
          - type: string
            maxLength: 50
            pattern: ^[A-Za-z0-9_-]+$
          - type: array
            maxItems: 1000
            items:
              type: string
              maxLength: 50
              pattern: ^[A-Za-z0-9_-]+$
          description: List of data source segment IDs the query should target
          example:
          - segment1
          - segment2
        ds_user:
          type: string
          maxLength: 255
          description: Shorthand parameter to provide one value for ds_users
          example: user@example.com
        ds_users:
          oneOf:
          - type: string
            maxLength: 255
          - type: array
            maxItems: 100
            items:
              type: string
              maxLength: 255
          description: List of data source login usernames to limit when searching
            for suitable authentication
        date_range_type:
          type: string
          maxLength: 50
          description: Type of date range the query should use
        start_date:
          type: string
          maxLength: 100
          description: Fixed or relative start date for your query
          example: yesterday
        end_date:
          type: string
          maxLength: 100
          description: Fixed or relative end date for your query
          example: yesterday
        compare_type:
          type: string
          maxLength: 50
          description: Date range comparison type. Defaults to none
        compare_show:
          type: string
          maxLength: 50
          description: When compare_type is custom, display type for comparison values
        compare_start_date:
          type: string
          maxLength: 100
          description: When compare_type is custom, fixed or relative start date for
            comparison
        compare_end_date:
          type: string
          maxLength: 100
          description: When compare_type is custom, fixed or relative end date for
            comparison
        fields:
          oneOf:
          - type: string
            maxLength: 1000
          - type: array
            maxItems: 100
            items:
              type: string
              maxLength: 100
          - type: array
            maxItems: 100
            items:
              type: object
          description: Target data source fields the query should return
        settings:
          type: object
          description: Settings that should be applied when performing the query
        filter:
          type: string
          maxLength: 5000
          description: Filter string that should be applied to the results
        order_columns:
          type: string
          maxLength: 1000
          description: Order instruction for fields that are split by column
        order_rows:
          oneOf:
          - type: string
            maxLength: 1000
          - type: array
            maxItems: 50
            items:
              type: string
              maxLength: 100
          description: List of order fields and sort directions for result rows
        max_columns:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          description: Maximum number of columns the query results should contain
        max_rows:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000000
          description: Maximum number of rows the query results should contain
        offset_start:
          type: integer
          format: int32
          minimum: 0
          maximum: 1000000
          description: Starting row index for paginated response
        offset_end:
          type: integer
          format: int32
          minimum: 0
          maximum: 1000000
          description: Ending row index for paginated response
        cache_minutes:
          type: integer
          format: int32
          minimum: 0
          maximum: 10080
          description: Maximum allowed age of query results cache in minutes
        sync_timeout:
          type: integer
          format: int32
          minimum: 0
          maximum: 3600
          description: Number of seconds the API should wait for query to finish
      required:
      - ds_id
    DataResponse:
      type: object
      properties:
        meta:
          type: object
          properties:
            request_id:
              type: string
              maxLength: 50
              pattern: ^[A-Za-z0-9_-]+$
              description: API request ID
            schedule_id:
              type: string
              maxLength: 50
              pattern: ^[A-Za-z0-9_-]+$
              description: Custom or generated schedule ID for the query
            status_code:
              type: string
              maxLength: 20
              description: Status code for the query
            query:
              type: object
              properties:
                start_date:
                  type: string
                  maxLength: 10
                  pattern: ^\d{4}-\d{2}-\d{2}$
                  description: Query start date in YYYY-MM-DD format
                end_date:
                  type: string
                  maxLength: 10
                  pattern: ^\d{4}-\d{2}-\d{2}$
                  description: Query end date in YYYY-MM-DD format
                ds_accounts:
                  type: array
                  maxItems: 100
                  items:
                    type: string
                    maxLength: 50
                    pattern: ^[A-Za-z0-9_-]+$
                  description: Data source account IDs used in the query
                ds_segments:
                  type: array
                  maxItems: 1000
                  items:
                    type: string
                    maxLength: 50
                    pattern: ^[A-Za-z0-9_-]+$
                  description: Data source segment IDs used in the query
                fields:
                  type: array
                  maxItems: 100
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        maxLength: 100
                        pattern: ^[A-Za-z0-9_-]+$
                        description: Field ID from the request
                      field_id:
                        type: string
                        maxLength: 100
                        pattern: ^[A-Za-z0-9_-]+$
                        description: Field ID the API uses
                      field_name:
                        type: string
                        maxLength: 255
                        description: Field name
                      field_type:
                        type: string
                        maxLength: 10
                        description: Field type
                      field_split:
                        type: string
                        maxLength: 50
                        description: Field split by type
                      data_type:
                        type: string
                        maxLength: 50
                        description: Field data type
                      data_column:
                        type: integer
                        format: int32
                        minimum: 0
                        maximum: 1000
                        description: Field value position in each data row
                      visible:
                        type: boolean
                        description: Whether data for this field is visible
                compare_type:
                  type: string
                  maxLength: 50
                  description: Date range comparison type used
                compare_show:
                  type: string
                  maxLength: 50
                  description: Display type for comparison values
                compare_start_date:
                  type: string
                  maxLength: 10
                  pattern: ^\d{4}-\d{2}-\d{2}$
                  description: Start date for comparison date range
                compare_end_date:
                  type: string
                  maxLength: 10
                  pattern: ^\d{4}-\d{2}-\d{2}$
                  description: End date for comparison date range
                settings:
                  type: object
                  description: Settings used in query
                cache_minutes:
                  type: integer
                  format: int32
                  minimum: 0
                  maximum: 10080
                  description: Requested maximum age of cache in minutes
            result:
              type: object
              properties:
                total_columns:
                  type: integer
                  format: int32
                  minimum: 0
                  maximum: 1000
                  description: Total amount of columns
                total_rows:
                  type: integer
                  format: int64
                  minimum: 0
                  maximum: 100000000
                  description: Total amount of rows in data
                run_seconds:
                  type: number
                  format: float
                  minimum: 0
                  maximum: 7200
                  description: Number of seconds it took for the query to run
                data_sampled:
                  type: boolean
                  description: If data source has provided sampled data
                cache_used:
                  type: boolean
                  description: If cached data was used
                cache_time:
                  type: string
                  format: date-time
                  maxLength: 30
                  description: ISO 8601 datetime for the most recent cached data
                  nullable: true
            paginate:
              type: object
              properties:
                prev:
                  type: string
                  format: uri
                  maxLength: 500
                  description: URL to previous offset
                next:
                  type: string
                  format: uri
                  maxLength: 500
                  description: URL to next offset
        data:
          type: array
          maxItems: 1000000
          items:
            type: array
            maxItems: 1000
            items:
              type: string
              maxLength: 10000
          description: Query result rows
    DataSource:
      type: object
      properties:
        '@type':
          type: string
          enum:
          - ds
        ds_id:
          type: string
          maxLength: 50
          pattern: ^[A-Za-z0-9_-]+$
          description: Data source ID
        name:
          type: string
          maxLength: 255
          description: Data source name
    DataSourceLogin:
      type: object
      properties:
        '@type':
          type: string
          enum:
          - ds_login
        login_id:
          type: string
          maxLength: 50
          pattern: ^[A-Za-z0-9_-]+$
          description: Supermetrics login ID
        login_type:
          type: string
          maxLength: 100
          description: Authentication type. Note that some data sources support multiple
            types, and user can choose between them.
        username:
          type: string
          maxLength: 255
          description: Authenticated username, used in queries as ds_user
        display_name:
          type: string
          maxLength: 255
          description: Visible name for this authentication in product UIs
        ds_info:
          $ref: '#/components/schemas/DataSource'
        default_scopes:
          type: array
          maxItems: 100
          description: List of default source API scopes used in authentication
          items:
            type: string
            maxLength: 100
        additional_scopes:
          type: array
          maxItems: 100
          description: List of additional source API scopes user has granted to access
            more data
          items:
            type: string
            maxLength: 100
        auth_time:
          type: string
          format: date-time
          maxLength: 50
          description: ISO 8601 datetime for when last user authentication occurred
        auth_user_info:
          $ref: '#/components/schemas/User'
        expiry_time:
          type: string
          nullable: true
          format: date-time
          maxLength: 50
          description: ISO 8601 datetime for when authentication expires, if any
        revoked_time:
          type: string
          nullable: true
          format: date-time
          maxLength: 50
          description: ISO 8601 datetime for when authentication was revoked, if any
        is_refreshable:
          type: boolean
          description: Whether authentication can be automatically refreshed after
            expiry time, without user involvement
        is_shared:
          type: boolean
          description: Whether login is shared with all team users
    DatasourceDetails:
      type: object
      properties:
        id:
          type: string
          maxLength: 100
          description: Unique identifier of the datasource (e.g., "GAWA", "AW", "SA360")
          example: GAWA
        name:
          type: string
          maxLength: 100
          description: Human-readable name of the datasource
          example: Google Analytics 4
        description:
          type: string
          maxLength: 2000
          description: Detailed description of the datasource and its capabilities
          example: A web analytics service for tracking website traffic and user behavior,
            with a focus on AI and machine learning.
        marketing_name:
          type: string
          maxLength: 100
          nullable: true
          description: Connector marketing name
          example: Google Analytics
        logo_url:
          type: string
          maxLength: 500
          description: Connector logo URL
          example: https://assets.supermetrics.com/images/dsLogos/GAWA.png
        categories:
          type: array
          maxItems: 50
          description: Categories that this datasource belongs to
          items:
            type: string
            enum:
            - Ad Verification
            - Affiliate
            - Analytics
            - Brand Reputation
            - CRM/Sales
            - Data Warehouses
            - DSP
            - Ecommerce
            - Files
            - Marketing Attribution
            - Marketing Automation
            - Mobile
            - Other
            - Paid Media
            - Payments
            - Retail Media
            - Search
            - SEO
            - Social Media
          example:
          - Analytics
        products:
          type: array
          maxItems: 50
          description: List of products where this datasource is available
          items:
            type: string
            maxLength: 100
          example:
          - API
          - DS
          - SHEETS
          - EXCEL
          - DWH
        status:
          type: string
          description: Connector release status
          enum:
          - Early access
          - Released
          example: Released
        is_premium:
          type: boolean
          description: Is connector premium
          example: false
        tags:
          type: array
          maxItems: 50
          description: Tags associated with this datasource (e.g., "popular")
          items:
            type: string
            maxLength: 100
          example:
          - popular
        is_authentication_required:
          type: boolean
          description: Whether this datasource requires authentication to use
          example: true
        has_account_list:
          type: boolean
          description: Whether this datasource has account-level resources that can
            be selected
          example: true
        has_fields:
          type: boolean
          description: Whether this datasource has field selection capabilities
          example: true
        has_segments:
          type: boolean
          description: Indicates if the data source supports segments
          example: false
        has_report_type_selection:
          type: boolean
          description: Whether the report type selection UI should be shown to users
          example: false
        is_date_range_required:
          type: boolean
          description: Whether date range selection is applicable at the datasource
            level (can be overridden by report types)
          example: true
        is_custom_data_import:
          type: boolean
          description: Indicates if the data source supports custom data import
          example: false
        min_metrics:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          nullable: true
          description: Minimum number of metrics required for the data source query
          example: 1
        max_metrics:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          nullable: true
          description: Maximum number of metrics allowed for the data source query
          example: 10
        min_dimensions:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          nullable: true
          description: Minimum number of dimensions required for the data source query
          example: 0
        max_dimensions:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          nullable: true
          description: Maximum number of dimensions allowed for the data source query
          example: 9
        report_type_header_label:
          type: string
          maxLength: 100
          description: Dynamic label used for UI to show what the report type header
            should be called
          example: Report Type
        account_labels:
          type: object
          nullable: true
          description: Labels for the accounts
          properties:
            plural:
              type: string
              maxLength: 100
              description: Plural form of the account label
              example: Accounts
            singular:
              type: string
              maxLength: 100
              description: Singular form of the account label
              example: Account
        report_types:
          type: array
          maxItems: 100
          description: Available report types for this datasource
          items:
            $ref: '#/components/schemas/DatasourceReportType'
        common_settings:
          type: array
          maxItems: 100
          description: General settings not tied to a specific report type
          items:
            $ref: '#/components/schemas/DatasourceSetting'
    DatasourceOption:
      type: object
      properties:
        option_id:
          type: string
          maxLength: 100
          description: Unique identifier for the option
          example: default_attribution
        label:
          type: string
          maxLength: 100
          description: Human-readable label for the option
          example: Default attribution
    DatasourceReportType:
      type: object
      properties:
        label:
          type: string
          maxLength: 100
          description: Human-readable report type name
          example: Cohort Daily
        id:
          type: string
          maxLength: 100
          description: Unique identifier for the report type
          example: CohortDaily
        is_date_range_required:
          type: boolean
          description: Whether date range selection is required for this specific
            report type
          example: false
        is_free_text_account_required:
          type: boolean
          description: Whether this report type requires free-text account input (e.g.,
            page aliases, URLs)
          example: true
        settings:
          type: array
          maxItems: 100
          description: List of settings applicable to this report type
          items:
            $ref: '#/components/schemas/DatasourceSetting'
    DatasourceSetting:
      type: object
      properties:
        setting_id:
          type: string
          maxLength: 100
          description: Unique identifier for the setting, using the v2 API key format
          example: blanks_to_zero
        context:
          type: string
          description: The context in which the setting is applied.
          enum:
          - options
          - reportConfiguration
          example: options
        type:
          type: string
          description: UI component type
          enum:
          - checkbox
          - combobox
          - none
          - select
          - text
          - textarea
          - radio
          example: checkbox
        label:
          type: string
          maxLength: 100
          description: Human-readable label for the setting
          example: Replace blank metric values with zeros
        help_text:
          type: string
          maxLength: 2000
          nullable: true
          description: Optional helper text shown to users
          example: When you're splitting the data by a time dimension, using this
            setting ensures all time values (dates / weeks / months / years) will
            be returned, even if there's no data for some of them.
        default_value:
          description: Optional default value; type depends on the setting type
          nullable: true
          example: null
        options:
          type: array
          maxItems: 100
          description: Zero or more selectable options, applicable when type is select/multiselect
          items:
            $ref: '#/components/schemas/DatasourceOption'
        is_value_required:
          type: boolean
          description: Whether a value is mandatory for this setting
          example: false
    Error:
      type: object
      properties:
        code:
          type: string
          maxLength: 100
          description: Error code
          example: ACCESS_TOKEN_INVALID
        message:
          type: string
          maxLength: 255
          description: Error message
          example: Invalid Access Token
        description:
          type: string
          maxLength: 255
          description: Error description
          example: Provided access token is either missing, invalid or expired.
    ErrorResponse:
      type: object
      required:
      - meta
      - error
      properties:
        meta:
          $ref: '#/components/schemas/Meta'
        error:
          type: object
          required:
          - code
          - message
          properties:
            code:
              type: string
              maxLength: 100
              pattern: ^[A-Z0-9_]+$
              description: Machine-readable error code
              example: INVALID_ACCESS_TOKEN
            message:
              type: string
              maxLength: 255
              pattern: ^[\s\S]+$
              description: Human-readable error message
              example: Invalid Access Token
            description:
              type: string
              maxLength: 255
              pattern: ^[\s\S]+$
              description: Detailed error description
              example: Provided access token is either missing, invalid or expired.
    GetBackfillResponse:
      type: object
      required:
      - meta
      - data
      properties:
        meta:
          $ref: '#/components/schemas/Meta'
        data:
          $ref: '#/components/schemas/Backfill'
    LoginLink:
      type: object
      properties:
        link_id:
          type: string
          maxLength: 50
          description: Supermetrics login link ID
        status_code:
          type: string
          maxLength: 50
          description: Current link status
          enum:
          - OPEN
          - CLOSED
          - EXPIRED
        description:
          type: string
          maxLength: 1000
          description: Internal link description. Not shown during authentication
            attempt.
        ds_id:
          type: string
          maxLength: 50
          description: Data source ID
        ds_name:
          type: string
          maxLength: 255
          description: Data source name
        require_username:
          type: string
          maxLength: 255
          description: Data source username that must be used in authentication attempt
        redirect_url:
          type: string
          maxLength: 500
          description: Custom URL to redirect to after successful authentication,
            if any
        redirect_verifier:
          type: string
          maxLength: 255
          description: Internal verifier string that is passed to redirect_url
        user_id:
          type: string
          maxLength: 50
          description: Supermetrics user ID of the user who will be marked as the
            primary owner of the login credentials
        user_email:
          type: string
          maxLength: 255
          description: Supermetrics user email
        login_url:
          type: string
          maxLength: 500
          description: Full URL to initiate an authentication attempt. Can be accessed
            multiple times while link is open.
        created_time:
          type: string
          format: date-time
          maxLength: 50
          description: ISO 8601 datetime for when login link was created
        expiry_time:
          type: string
          format: date-time
          maxLength: 50
          description: ISO 8601 datetime for when login link will expire
        login_id:
          type: string
          nullable: true
          maxLength: 50
          description: Supermetrics login ID for a successful authentication
        login_time:
          type: string
          nullable: true
          format: date-time
          maxLength: 50
          description: ISO 8601 datetime for when authentication occurred
        login_username:
          type: string
          nullable: true
          maxLength: 255
          description: Username used to authenticate to data source
    DatasourceDetailsResponse:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ResponseMeta'
        data:
          $ref: '#/components/schemas/DatasourceDetails'
    LoginLinkResponse:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ResponseMeta'
        data:
          $ref: '#/components/schemas/LoginLink'
    Meta:
      type: object
      required:
      - request_id
      properties:
        request_id:
          type: string
          maxLength: 36
          description: Unique identifier for the request (UUIDv7), used for tracking
            and debugging
          pattern: ^[0-9A-F]{8}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{12}$
    ResponseMeta:
      type: object
      properties:
        request_id:
          type: string
          maxLength: 50
          pattern: ^[A-Za-z0-9_-]+$
          description: API request ID
    TransferBackfillRunError:
      type: object
      required:
      - transfer_run_date
      - error
      properties:
        transfer_run_date:
          type: string
          format: date
          maxLength: 10
          description: The date of the transfer run that failed
          example: '2024-01-15'
        error:
          type: string
          maxLength: 1000
          description: Error message describing what went wrong
          example: Connection timeout to data source
    User:
      type: object
      properties:
        '@type':
          type: string
          enum:
          - user
        user_id:
          type: string
          maxLength: 50
          pattern: ^[A-Za-z0-9_-]+$
          description: Supermetrics user ID
        email:
          type: string
          format: email
          maxLength: 255
          description: Supermetrics user email
  responses:
    DatasourceNotFound:
      description: Datasource not found
      headers:
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/Access-Control-Allow-Origin'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            meta:
              request_id: 01892A4D-7586-7000-8000-000000000000
            error:
              code: DATA_SOURCE_NOT_FOUND
              message: DATA_SOURCE_NOT_FOUND
              description: DATA_SOURCE_NOT_FOUND
    BackfillNotFound:
      description: Backfill not found
      headers:
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/Access-Control-Allow-Origin'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            meta:
              request_id: 01892A4D-7586-7000-8000-000000000000
            error:
              code: NOT_FOUND
              message: Not Found
              description: The requested backfill could not be found or you do not
                have access to it.
    BadRequest:
      description: Bad Request - The request was invalid or cannot be served.
      headers:
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/Access-Control-Allow-Origin'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            meta:
              request_id: 01892A4D-7586-7000-8000-000000000000
            error:
              code: INVALID_PARAMETER
              message: Invalid Parameter
              description: The request contains invalid or malformed parameters.
    Forbidden:
      description: Forbidden - The request is understood, but it has been refused
        or access is not allowed.
      headers:
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/Access-Control-Allow-Origin'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            meta:
              request_id: 01892A4D-7586-7000-8000-000000000000
            error:
              code: ACCESS_DENIED
              message: Access Denied
              description: You do not have permission to perform this operation.
    InternalServerError:
      description: Internal Server Error - An error occurred on the server.
      headers:
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/Access-Control-Allow-Origin'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            meta:
              request_id: 01892A4D-7586-7000-8000-000000000000
            error:
              code: INTERNAL_SERVER_ERROR
              message: Internal Server Error
              description: An unexpected error occurred. Please try again later or
                contact support.
    LinkLimitExceeded:
      description: Link Limit Exceeded
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining'
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/Access-Control-Allow-Origin'
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                maxLength: 100
                enum:
                - LINK_LIMIT_EXCEEDED
              message:
                type: string
                maxLength: 255
    LinkNotFound:
      description: Link Not Found
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining'
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/Access-Control-Allow-Origin'
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                maxLength: 100
                enum:
                - LINK_NOT_FOUND
              message:
                type: string
                maxLength: 255
    LinkUpdateFailed:
      description: Link Update Failed
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining'
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/Access-Control-Allow-Origin'
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                maxLength: 100
                enum:
                - LINK_UPDATE_FAILED
              message:
                type: string
                maxLength: 255
    LoginNotFound:
      description: Login Not Found
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining'
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/Access-Control-Allow-Origin'
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                maxLength: 100
                enum:
                - LOGIN_NOT_FOUND
              message:
                type: string
                maxLength: 255
    LoginSearchFailed:
      description: Login Search Failed
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining'
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/Access-Control-Allow-Origin'
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                maxLength: 100
                enum:
                - LOGIN_SEARCH_FAILED
              message:
                type: string
                maxLength: 255
    TooManyRequests:
      description: Too Many Requests - Rate limit exceeded.
      headers:
        Retry-After:
          $ref: '#/components/headers/Retry-After'
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/Access-Control-Allow-Origin'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            meta:
              request_id: 01892A4D-7586-7000-8000-000000000000
            error:
              code: RATE_LIMIT_EXCEEDED
              message: Rate Limit Exceeded
              description: You have exceeded the rate limit. Please try again later.
    Unauthorized:
      description: Unauthorized - Authentication is required and has failed or has
        not been provided.
      headers:
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/Access-Control-Allow-Origin'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            meta:
              request_id: 01892A4D-7586-7000-8000-000000000000
            error:
              code: INVALID_ACCESS_TOKEN
              message: Invalid Access Token
              description: Provided access token is either missing, invalid or expired.
    UnprocessableEntity:
      description: Unprocessable Entity - request validation failed
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining'
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/Access-Control-Allow-Origin'
      content:
        application/json:
          schema:
            type: object
            properties:
              meta:
                $ref: '#/components/schemas/ResponseMeta'
              error:
                $ref: '#/components/schemas/Error'
  parameters:
    BackfillIdPathParam:
      name: backfill_id
      in: path
      required: true
      description: Unique identifier of the backfill
      example: 12345
      schema:
        type: integer
        format: int64
        minimum: 1
        maximum: 9223372036854775807
    TeamIdPathParam:
      name: team_id
      in: path
      required: true
      description: Unique identifier of the team
      example: 12345
      schema:
        type: integer
        format: int64
        minimum: 1
        maximum: 9223372036854775807
    TransferIdPathParam:
      name: transfer_id
      in: path
      required: true
      description: Unique identifier of the transfer
      example: 456789
      schema:
        type: integer
        format: int64
        minimum: 1
        maximum: 9223372036854775807
  headers:
    Access-Control-Allow-Origin:
      description: CORS header
      schema:
        type: string
        maxLength: 255
        enum:
        - '*'
        example: '*'
    Content-Type:
      description: HTTP response content type
      schema:
        type: string
        maxLength: 255
        enum:
        - application/json
        example: application/json
    Location:
      description: API URL of the created item
      schema:
        type: string
        maxLength: 255
        example: items/{id}
    Retry-After:
      description: Seconds until rate limit resets
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 86400
        example: 3600
    X-RateLimit-Limit:
      description: Request limit per hour
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 10000
        example: 100
    X-RateLimit-Remaining:
      description: Remaining requests in current window
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 10000
        example: 49
  securitySchemes:
    ApiKeyAuth:
      $ref: '#/components/securitySchemes/ApiKeyAuth'
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token authentication. Include the token in the Authorization
        header:

        `Authorization: Bearer <your-token>`

        '
security: []
