openapi: 3.0.3
info:
  title: Supermetrics API
  version: 2.0.0
  description: Supermetrics API for authentication and data querying. For more information,
    visit https://supermetrics.com.
  contact:
    name: Supermetrics Support
    email: support@supermetrics.com
    url: https://supermetrics.com/support
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.supermetrics.com/v2
  description: Global production public Supermetrics Data API base path.
  x-internal: false
- url: https://api.supermetrics.com
  description: Global production public Supermetrics API base path for datasource
    search.
  x-internal: false
- url: https://api.supermetrics.com/v2
  description: Global production public Supermetrics Management API base path.
  x-internal: false
- url: https://api.supermetrics.com
  description: Global production public Supermetrics API base path (for Connector
    Builder and Team endpoints).
  x-internal: false
- url: https://dts-api.supermetrics.com/v1
  description: Data Backfills API
- url: https://dts-api.supermetrics.com/v1
  description: Global production public Supermetrics Data Warehouse Data Source Connections
    API base path.
  x-internal: false
- url: https://dts-api.supermetrics.com
  description: Global production public Supermetrics Data Warehouse Transfer Runs
    API base path.
  x-internal: false
- url: https://dts-api.supermetrics.com
  description: Global production public Supermetrics Data Warehouse Transfers API
    base path.
  x-internal: false
- url: https://api.supermetrics.com
  description: production server
  x-internal: false
- url: https://dts-api.supermetrics.com/v1
  description: Global production public Supermetrics Data Warehouse Destinations API
    base path.
  x-internal: false
paths:
  /ds/login/link:
    post:
      summary: Create login link
      description: Create a new data source login link
      operationId: createLoginLink
      tags:
      - Data Source Login Links
      security:
      - BearerAuth: []
      requestBody:
        description: Login link creation parameters including data source and expiration
          settings
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - ds_id
              properties:
                ds_id:
                  type: string
                  maxLength: 50
                  pattern: ^[A-Za-z0-9_-]+$
                  description: Data source ID
                expiry_time:
                  type: string
                  format: date-time
                  maxLength: 50
                  description: Link expiry time as datetime in ISO 8601 format or
                    relative time string (e.g. "10 hours"). Defaulting to 24 hours
                    from creation time.
                description:
                  type: string
                  maxLength: 1000
                  description: Internal description for the link. Not shown during
                    the authentication attempt.
                require_username:
                  type: string
                  maxLength: 255
                  description: Data source username that needs to be used in authentication
                    attempt. Normally used when renewing existing credentials.
                redirect_url:
                  type: string
                  format: uri
                  maxLength: 500
                  description: Custom URL to redirect to after successful authentication.
            example:
              ds_id: GAWA
              expiry_time: '2026-03-01T23:59:59Z'
              description: Google Analytics login link for marketing team
              require_username: marketing@company.com
              redirect_url: https://company.com/auth/success
      responses:
        '201':
          description: Login link created successfully
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginLinkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/LinkLimitExceeded'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /ds/login/link/{link_id}:
    get:
      summary: Get login link
      description: Get details of a specific login link
      operationId: getLoginLink
      tags:
      - Data Source Login Links
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Login link details retrieved successfully
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginLinkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/LinkNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    parameters:
    - name: link_id
      in: path
      required: true
      schema:
        type: string
        maxLength: 50
        pattern: ^[A-Za-z0-9_-]+$
      description: Supermetrics login link ID
  /ds/login/link/{link_id}/close:
    put:
      summary: Close login link
      description: Close a login link. Link will stop accepting new requests once
        closed, but closing will not affect already started authentication attempts.
      operationId: closeLoginLink
      tags:
      - Data Source Login Links
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Login link closed successfully
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginLinkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/LinkNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/LinkUpdateFailed'
    parameters:
    - name: link_id
      in: path
      required: true
      schema:
        type: string
        maxLength: 50
        pattern: ^[A-Za-z0-9_-]+$
      description: Supermetrics login link ID
  /ds/login/links:
    get:
      summary: List login links
      description: List all data source login links
      operationId: listLoginLinks
      tags:
      - Data Source Login Links
      security:
      - BearerAuth: []
      responses:
        '200':
          description: List of login links retrieved successfully
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
                  data:
                    type: array
                    maxItems: 1000
                    items:
                      $ref: '#/components/schemas/LoginLink'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /ds/login/{login_id}:
    get:
      summary: Get login
      description: Retrieve details of a specific data source login
      operationId: getDataSourceLogin
      tags:
      - Data Source Logins
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Data source login details retrieved successfully
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
                  data:
                    $ref: '#/components/schemas/DataSourceLogin'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/LoginNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/LoginSearchFailed'
    parameters:
    - name: login_id
      in: path
      required: true
      schema:
        type: string
        maxLength: 50
        pattern: ^[A-Za-z0-9_-]+$
      description: Supermetrics login ID
  /ds/logins:
    get:
      summary: List logins
      description: Retrieve a list of all data source logins
      operationId: listDataSourceLogins
      tags:
      - Data Source Logins
      security:
      - BearerAuth: []
      responses:
        '200':
          description: List of data source logins retrieved successfully
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
                  data:
                    type: array
                    maxItems: 1000
                    items:
                      $ref: '#/components/schemas/DataSourceLogin'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/LoginSearchFailed'
  /query/accounts:
    get:
      summary: Get accounts
      description: Retrieve a list of available data source logins (authentications)
        and their accounts
      operationId: getAccounts
      tags:
      - Data source
      parameters:
      - name: json
        in: query
        required: true
        description: JSON-encoded account query parameters
        example:
          ds_id: GAWA
        schema:
          type: object
          required:
          - ds_id
          properties:
            api_key:
              type: string
              maxLength: 255
              pattern: ^[A-Za-z0-9_-]+$
              description: API key when not using an authorization header
            ds_id:
              type: string
              maxLength: 50
              pattern: ^[A-Za-z0-9_-]+$
              description: Data source ID
            ds_users:
              oneOf:
              - type: string
                maxLength: 255
              - type: array
                maxItems: 100
                items:
                  type: string
                  maxLength: 255
              description: List of data source login usernames to target (case-insensitive)
            cache_minutes:
              type: integer
              format: int32
              description: Maximum allowed age of cache in minutes
              minimum: 60
              maximum: 1440
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Accounts retrieved successfully
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        maxLength: 50
                        pattern: ^[A-Za-z0-9_-]+$
                        description: API request ID
                      query:
                        type: object
                        properties:
                          cache_minutes:
                            type: integer
                            nullable: true
                            format: int32
                            minimum: 60
                            maximum: 1440
                            description: Requested maximum age of cache in minutes
                  data:
                    type: array
                    maxItems: 100
                    items:
                      type: object
                      properties:
                        ds_user:
                          type: string
                          maxLength: 255
                          description: Data source login username
                        display_name:
                          type: string
                          maxLength: 255
                          description: Display name for login
                        cache_time:
                          type: string
                          nullable: true
                          format: date-time
                          maxLength: 30
                          description: ISO 8601 datetime for the last time the login
                            data was fetched and cached
                        accounts:
                          type: array
                          maxItems: 1000
                          items:
                            type: object
                            properties:
                              account_id:
                                type: string
                                maxLength: 50
                                description: Account ID
                              account_name:
                                type: string
                                maxLength: 255
                                description: Account name
                              group_name:
                                type: string
                                maxLength: 255
                                description: Account group name (empty string when
                                  not available)
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /query/data/json:
    get:
      summary: Query data
      description: Execute a query to retrieve data from a specified data source
      operationId: getData
      tags:
      - Get data
      parameters:
      - name: json
        in: query
        required: true
        description: JSON-encoded data query parameters
        example:
          ds_id: GAWA
          start_date: yesterday
          end_date: yesterday
          fields:
          - date
          - sessions
        schema:
          $ref: '#/components/schemas/DataQuery'
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Query executed successfully
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /teams/{team_id}/backfills:
    get:
      summary: List incomplete backfills for team
      description: 'Retrieve a list of all incomplete backfills for your team.

        This endpoint returns only backfills that are not yet finished.


        **What are "incomplete" backfills?**

        - **Included:** Backfills with status `CREATED`, `SCHEDULED`, `RUNNING`, or
        `FAILED`

        - **Excluded:** Backfills with status `COMPLETED` or `CANCELLED`


        **Returns:** Array of backfill objects sorted by creation time (newest first).


        **Important Notes:**

        - Requires scope `dwh_transfers_read`

        - Your account must have `dwh.transfer.view` permission. See [roles and permissions](https://docs.supermetrics.com/docs/about-supermetrics-teams-and-user-roles#user-roles).

        - Only backfills belonging to your team are returned

        - The list includes backfills for all transfers in your team

        - Each backfill includes real-time progress tracking for running backfills

        '
      operationId: listIncompleteBackfills
      tags:
      - Data Backfills
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/DwhTeamIdPathParam'
      responses:
        '200':
          description: List of incomplete backfills retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                type: object
                required:
                - meta
                - data
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
                  data:
                    type: array
                    maxItems: 100
                    items:
                      $ref: '#/components/schemas/Backfill'
                    description: Array of incomplete backfill objects
              examples:
                multipleBackfills:
                  summary: Multiple incomplete backfills
                  value:
                    meta:
                      request_id: 01892A4D-7586-7000-8000-000000000000
                    data:
                    - transfer_backfill_id: 12347
                      transfer_id: 456790
                      range_start_date: '2024-02-01'
                      range_end_date: '2024-02-28'
                      created_time: '2024-03-01T14:00:00Z'
                      created_user_id: 789
                      start_time: '2024-03-01T14:30:00Z'
                      end_time: null
                      status: RUNNING
                      transfer_runs_total: 28
                      transfer_runs_created: 28
                      transfer_runs_completed: 15
                      transfer_runs_failed: 0
                      error_report: []
                    - transfer_backfill_id: 12346
                      transfer_id: 456789
                      range_start_date: '2024-01-15'
                      range_end_date: '2024-01-31'
                      created_time: '2024-02-15T09:30:00Z'
                      created_user_id: 790
                      start_time: '2024-02-15T10:00:00Z'
                      end_time: null
                      status: RUNNING
                      transfer_runs_total: 17
                      transfer_runs_created: 17
                      transfer_runs_completed: 10
                      transfer_runs_failed: 0
                      error_report: []
                    - transfer_backfill_id: 12345
                      transfer_id: 456788
                      range_start_date: '2024-01-01'
                      range_end_date: '2024-01-14'
                      created_time: '2024-02-01T08:00:00Z'
                      created_user_id: 789
                      start_time: null
                      end_time: null
                      status: SCHEDULED
                      transfer_runs_total: 14
                      transfer_runs_created: 14
                      transfer_runs_completed: 0
                      transfer_runs_failed: 0
                      error_report: []
                emptyList:
                  summary: No incomplete backfills
                  value:
                    meta:
                      request_id: 01892A4D-7586-7000-8000-000000000000
                    data: []
        '401':
          $ref: '#/components/responses/DwhUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/DwhTooManyRequests'
        '500':
          $ref: '#/components/responses/DwhInternalServerError'
    servers:
    - url: https://dts-api.supermetrics.com/v1
      description: Data Backfills API
  /teams/{team_id}/backfills/{backfill_id}:
    get:
      summary: Get backfill by ID
      description: 'Retrieve detailed information about a specific backfill using
        its unique identifier.

        This endpoint returns the complete backfill object with current status, progress
        tracking, and error details.


        **Returns:** The backfill object with its ID, status, progress information,
        and error details if any.


        **Important Notes:**

        - The backfill must exist and belong to your team

        - Requires scope `dwh_transfers_read`

        - Your account must have `dwh.transfer.view` permission. See [roles and permissions](https://docs.supermetrics.com/docs/about-supermetrics-teams-and-user-roles#user-roles).

        - Returns 404 if the backfill does not exist or does not belong to your team

        - The backfill object includes real-time progress tracking for running backfills

        '
      operationId: getBackfillById
      tags:
      - Data Backfills
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/DwhTeamIdPathParam'
      - $ref: '#/components/parameters/DwhBackfillIdPathParam'
      responses:
        '200':
          description: Backfill retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackfillResponse'
              example:
                meta:
                  request_id: 01892A4D-7586-7000-8000-000000000000
                data:
                  transfer_backfill_id: 12345
                  transfer_id: 456789
                  range_start_date: '2024-01-01'
                  range_end_date: '2024-01-31'
                  created_time: '2024-02-01T09:00:00Z'
                  created_user_id: 789
                  start_time: '2024-02-01T10:00:00Z'
                  end_time: null
                  status: RUNNING
                  transfer_runs_total: 31
                  transfer_runs_created: 31
                  transfer_runs_completed: 25
                  transfer_runs_failed: 2
                  error_report: []
        '401':
          $ref: '#/components/responses/DwhUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/DwhBackfillNotFound'
        '429':
          $ref: '#/components/responses/DwhTooManyRequests'
        '500':
          $ref: '#/components/responses/DwhInternalServerError'
    servers:
    - url: https://dts-api.supermetrics.com/v1
      description: Data Backfills API
    patch:
      summary: Update backfill status
      description: 'Update the status of a backfill. Currently, the only supported
        operation is

        cancelling a backfill by setting status to "CANCELLED".


        **What happens when you cancel:**

        - Backfill status is changed to "CANCELLED"

        - All pending/queued transfer runs associated with this backfill are cancelled

        - Transfer runs that are already running will complete

        - The backfill''s `end_time` is set to the cancellation time

        - The `removed_time` and `removed_user_id` fields are set


        **Important: This endpoint does NOT delete the backfill.**

        - The backfill record remains in the system with status "CANCELLED"

        - You can still retrieve the backfill information using GET /v1/teams/{team_id}/backfills/{backfill_id}


        **Returns:** The updated backfill object with the new status and updated timestamps.


        **Important Notes:**

        - The backfill must exist and belong to your team

        - Requires scope `dwh_transfers_write`

        - Your account must have `dwh.transfer.edit` permission. See [roles and permissions](https://docs.supermetrics.com/docs/about-supermetrics-teams-and-user-roles#user-roles).

        - Only backfills with incomplete status (CREATED, SCHEDULED, RUNNING, FAILED)
        can be cancelled

        - Returns 404 if the backfill does not exist or does not belong to your team

        - Returns 422 if the backfill cannot be updated (e.g., already in a final
        state)

        '
      operationId: updateBackfillStatus
      tags:
      - Data Backfills
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/DwhTeamIdPathParam'
      - $ref: '#/components/parameters/DwhBackfillIdPathParam'
      requestBody:
        required: true
        description: Status update parameters
        content:
          application/json:
            schema:
              type: object
              required:
              - status
              properties:
                status:
                  type: string
                  description: New status for the backfill. Currently only "CANCELLED"
                    is supported.
                  enum:
                  - CANCELLED
                  example: CANCELLED
            example:
              status: CANCELLED
      responses:
        '200':
          description: Backfill status successfully updated
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackfillResponse'
              example:
                meta:
                  request_id: 01892A4D-7586-7000-8000-000000000000
                data:
                  transfer_backfill_id: 12345
                  transfer_id: 456789
                  range_start_date: '2024-01-01'
                  range_end_date: '2024-01-31'
                  created_time: '2024-02-01T09:00:00Z'
                  created_user_id: 789
                  removed_time: '2024-02-01T15:30:00Z'
                  removed_user_id: 790
                  start_time: '2024-02-01T10:00:00Z'
                  end_time: '2024-02-01T15:30:00Z'
                  status: CANCELLED
                  transfer_runs_total: 31
                  transfer_runs_created: 31
                  transfer_runs_completed: 25
                  transfer_runs_failed: 2
                  error_report: []
        '400':
          $ref: '#/components/responses/DwhBadRequest'
        '401':
          $ref: '#/components/responses/DwhUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/DwhBackfillNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/DwhTooManyRequests'
        '500':
          $ref: '#/components/responses/DwhInternalServerError'
  /teams/{team_id}/data-source-connections:
    post:
      summary: Create data source connection
      description: 'Creates a data source connection for a Hub transfer. This endpoint
        establishes a connection

        between a data source and a destination for use in data warehouse transfers.


        **Returns:** Connection object with connection ID and optional OAuth URLs.


        **Important Notes:**

        - The API key must have `dwh_transfers_write` scope

        - Connection credentials are encrypted and stored securely

        - Some data sources may require OAuth authentication (check `login_url` in
        response)

        - The connection must be created before setting up transfers


        **Legacy Reference:** `POST /data_warehouse/transfer_configuration/connect`

        '
      operationId: createDataSourceConnection
      tags:
      - Data Transfers
      requestBody:
        required: true
        description: Connection configuration specifying data source and destination
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDataSourceConnectionRequest'
            example:
              data_source_id: ADM
              destination_type: DWH_SNOWFLAKE
      responses:
        '201':
          description: Connection created successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDataSourceConnectionResponse'
              examples:
                success:
                  summary: Successful connection creation
                  value:
                    meta:
                      request_id: 019461A0-0000-7000-8000-000000000000
                    data:
                      connection_id: 019461A0-0000-7000-8000-000000000001
                      login_url: null
                      connect_url: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    parameters:
    - $ref: '#/components/parameters/TeamId'
    servers:
    - url: https://dts-api.supermetrics.com/v1
      description: Global production public Supermetrics Data Warehouse Data Source
        Connections API base path.
      x-internal: false
  /teams/{team_id}/datasource/{data_source_id}:
    get:
      summary: Get datasource configuration details
      description: Retrieve complete configuration details for a data source including
        report types, settings, and authentication requirements.
      operationId: getDatasourceDetails
      tags:
      - Datasource
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - name: data_source_id
        in: path
        required: true
        schema:
          type: string
          maxLength: 100
        description: Data source identifier (e.g., "GAWA", "AW", "SA360")
      - name: Sm-App-Id
        in: header
        required: false
        schema:
          type: string
          maxLength: 100
          example: XPLD
        description: Application identifier
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      responses:
        '200':
          description: Successfully retrieved datasource details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasourceDetailsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /teams/{team_id}/destinations:
    get:
      summary: List destinations
      description: List all data warehouse destinations for a team
      operationId: listDestinations
      tags:
      - Data Destinations
      responses:
        '200':
          description: Destinations retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    parameters:
    - $ref: '#/components/parameters/TeamId'
    servers:
    - url: https://dts-api.supermetrics.com/v1
      description: Global production public Supermetrics Data Warehouse Destinations
        API base path.
      x-internal: false
    post:
      summary: Create destination
      description: Create a new data warehouse destination
      operationId: createDestination
      tags:
      - Data Destinations
      requestBody:
        required: true
        description: Destination configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDestinationRequest'
            example:
              type: DWH_SNOWFLAKE
              display_name: My Snowflake Destination
              auth_method: AUTH_METHOD_KEY_PAIR
              fields:
                hostname: any-domain.my-region.snowflakecomputing.com
                warehouse: DEMO_WH
                database_name: TEST_DB
                schema: PUBLIC
                role: ACCOUNTADMIN
                username: USER
                private_key: '-----BEGIN ENCRYPTED PRIVATE KEY-----...'
                passphrase: '***'
      responses:
        '201':
          description: Destination created successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
  /teams/{team_id}/destinations/test-connection:
    post:
      summary: Test destination connection
      description: Test destination connection using credentials
      operationId: testConnection
      tags:
      - Data Destinations
      requestBody:
        required: true
        description: Connection credentials to test
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestConnectionRequest'
            example:
              type: DWH_SNOWFLAKE
              display_name: Test Connection
              auth_method: AUTH_METHOD_KEY_PAIR
              fields:
                hostname: test-domain.snowflakecomputing.com
                warehouse: TEST_WH
                database_name: TEST_DB
                schema: PUBLIC
                role: ACCOUNTADMIN
                username: TEST_USER
                private_key: '-----BEGIN ENCRYPTED PRIVATE KEY-----...'
                passphrase: '***'
      responses:
        '200':
          description: Connection test completed (check response for result)
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestConnectionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    parameters:
    - $ref: '#/components/parameters/TeamId'
    servers:
    - url: https://dts-api.supermetrics.com/v1
      description: Global production public Supermetrics Data Warehouse Destinations
        API base path.
      x-internal: false
  /teams/{team_id}/destinations/{destination_id}:
    get:
      summary: Get destination details
      description: Fetch data about a destination
      operationId: getDestination
      tags:
      - Data Destinations
      parameters:
      - name: destination_id
        in: path
        required: true
        description: Unique identifier for the destination
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 2147483647
        example: 8
      responses:
        '200':
          description: Destination retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    parameters:
    - $ref: '#/components/parameters/TeamId'
    servers:
    - url: https://dts-api.supermetrics.com/v1
      description: Global production public Supermetrics Data Warehouse Destinations
        API base path.
      x-internal: false
    put:
      summary: Update destination
      description: Update a destinations details
      operationId: updateDestination
      tags:
      - Data Destinations
      parameters:
      - name: destination_id
        in: path
        required: true
        description: Unique identifier for the destination
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 2147483647
        example: 8
      requestBody:
        required: true
        description: Destination configuration changes
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDestinationRequest'
            example:
              type: DWH_SNOWFLAKE
              display_name: Updated Snowflake Destination
              auth_method: AUTH_METHOD_KEY_PAIR
              fields:
                hostname: updated-domain.my-region.snowflakecomputing.com
                warehouse: PRODUCTION_WH
                database_name: PROD_DB
                schema: PUBLIC
                role: SYSADMIN
                username: PROD_USER
      responses:
        '200':
          description: Destination updated successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    delete:
      summary: Delete destination
      description: Remove a destination
      operationId: deleteDestination
      tags:
      - Data Destinations
      parameters:
      - name: destination_id
        in: path
        required: true
        description: Unique identifier for the destination
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 2147483647
        example: 8
      responses:
        '204':
          description: Destination deleted successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
  /teams/{team_id}/destinations/{destination_id}/usage:
    get:
      summary: Get destination usage
      description: Get transfers using this destination
      operationId: getDestinationUsage
      tags:
      - Data Destinations
      parameters:
      - name: destination_id
        in: path
        required: true
        description: Unique identifier for the destination
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 2147483647
        example: 8
      responses:
        '200':
          description: Destination usage retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationUsageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    parameters:
    - $ref: '#/components/parameters/TeamId'
    servers:
    - url: https://dts-api.supermetrics.com/v1
      description: Global production public Supermetrics Data Warehouse Destinations
        API base path.
      x-internal: false
  /teams/{team_id}/transfer_runs/{transfer_run_id}:
    get:
      summary: Get transfer run details
      description: 'Retrieve detailed information about a specific transfer run, including
        status,

        timestamps, duration, row counts, and per-query execution details.


        **Returns:** The transfer run object with its ID, status, timing information,
        and query details.


        **Important Notes:**

        - The transfer run must exist and belong to your team

        - Returns 404 if the transfer run does not exist or does not belong to your
        team

        '
      operationId: getTransferRun
      tags:
      - Data Transfers
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - name: transfer_run_id
        in: path
        required: true
        description: Unique identifier of the transfer run
        example: 12345
        schema:
          type: integer
          format: int64
          minimum: 1
      responses:
        '200':
          description: Transfer run retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferRunDetailResponse'
              example:
                meta:
                  request_id: 01892A4D-7586-7000-8000-000000000000
                data:
                  id: 12345
                  status: COMPLETED
                  started_time: '2024-01-15T10:00:00Z'
                  ended_time: '2024-01-15T10:05:30Z'
                  created_time: '2024-01-15T09:55:00Z'
                  queued_time: '2024-01-15T09:58:00Z'
                  query_details:
                  - duration: 12.5
                    status: COMPLETED
                    rows: 3000
                    error_description: null
                  - duration: 8.2
                    status: COMPLETED
                    rows: 1500
                    error_description: null
                  external_id: ext-12345
                  failed_query_amount: 0
                  total_duration: 330.5
                  total_rows: 4500
                  query_amount: 2
                  data_date: '2024-01-15'
                  message: ''
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://dts-api.supermetrics.com
      description: Global production public Supermetrics Data Warehouse Transfer Runs
        API base path.
      x-internal: false
  /teams/{team_id}/transfers:
    get:
      summary: List transfers
      description: 'Retrieve list of transfers for the authenticated team.


        **Returns:** Array of transfer objects with basic information.


        **Important Notes:**

        - Returns only non-deleted transfers belonging to your team

        '
      operationId: listTransfers
      tags:
      - Data Transfers
      parameters:
      - $ref: '#/components/parameters/TeamId'
      responses:
        '200':
          description: Transfers retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferListResponse'
              example:
                meta:
                  request_id: 019461A0-0000-7000-8000-000000000000
                data:
                - dwh_transfer_id: 36091
                  display_name: AW enhanced 2022-11-17
                  external_transfer_id: ext-36091
                  status: active
                  state: active
                  schedule: daily
                  run_date: '2026-01-01'
                  data_source: null
                  destination: null
                  accounts: []
                  backfill: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://dts-api.supermetrics.com
      description: Global production public Supermetrics Data Warehouse Transfers
        API base path.
      x-internal: false
    post:
      summary: Create transfer
      description: 'Create a new data transfer from a source to a destination.


        **Returns:** The created transfer object with its ID and display name.


        **Important Notes:**

        - Validate configuration using `/v1/teams/{team_id}/transfers/validations`
        before creation

        - Transfer begins processing according to configured schedule

        - Connection to data source must be established first

        '
      operationId: createTransfer
      tags:
      - Data Transfers
      parameters:
      - $ref: '#/components/parameters/TeamId'
      requestBody:
        required: true
        description: Transfer configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferConfigurationRequest'
      responses:
        '201':
          description: Transfer created successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferCreatedEnvelope'
              example:
                meta:
                  request_id: 019461A0-0000-7000-8000-000000000000
                data:
                  transfer_id: 36091
                  transfer_name: AW enhanced 2022-11-17
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
  /teams/{team_id}/transfers/available-options:
    get:
      summary: Get transfer options
      description: 'Returns all available options for a Hub transfer, according to
        specific data source and destination.


        **Returns:** Transfer configuration parameters for the given source/destination
        combination.

        '
      operationId: getTransferOptions
      tags:
      - Data Transfers
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - name: source_id
        in: query
        required: true
        description: Data source identifier
        schema:
          type: string
          maxLength: 50
        example: ADM
      - name: destination_id
        in: query
        required: true
        description: Destination identifier
        schema:
          type: integer
          format: int32
        example: 8
      responses:
        '200':
          description: Transfer options retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferOptionsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://dts-api.supermetrics.com
      description: Global production public Supermetrics Data Warehouse Transfers
        API base path.
      x-internal: false
  /teams/{team_id}/transfers/available-sources:
    get:
      summary: Get available sources
      description: 'Returns all available data sources and destinations for a Hub
        transfer.


        **Returns:** Initial configuration data including available sources and destinations.

        '
      operationId: getAvailableSources
      tags:
      - Data Transfers
      parameters:
      - $ref: '#/components/parameters/TeamId'
      responses:
        '200':
          description: Available sources retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableSourcesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://dts-api.supermetrics.com
      description: Global production public Supermetrics Data Warehouse Transfers
        API base path.
      x-internal: false
  /teams/{team_id}/transfers/validations:
    post:
      summary: Validate transfer configuration
      description: 'Validates a configuration for a new Hub transfer.


        **Returns:** List of validation errors (empty if valid).


        **Important Notes:**

        - Use this endpoint before creating a transfer to check configuration validity

        - Returns field-level validation errors

        '
      operationId: validateTransfer
      tags:
      - Data Transfers
      parameters:
      - $ref: '#/components/parameters/TeamId'
      requestBody:
        required: true
        description: Transfer configuration to validate
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferConfigurationRequest'
      responses:
        '200':
          description: Validation completed
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://dts-api.supermetrics.com
      description: Global production public Supermetrics Data Warehouse Transfers
        API base path.
      x-internal: false
  /teams/{team_id}/transfers/{transfer_id}:
    delete:
      summary: Delete transfer
      description: 'Delete an existing transfer (soft delete).


        **Returns:** No content on success (HTTP 204).


        **Important Notes:**

        - The transfer must exist and belong to your team

        - This is a soft delete - transfer data is preserved

        - Associated table settings are also cleaned up

        '
      operationId: deleteTransfer
      tags:
      - Data Transfers
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - name: transfer_id
        in: path
        required: true
        description: Unique identifier for the transfer
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 36091
      responses:
        '204':
          description: Transfer deleted successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://dts-api.supermetrics.com
      description: Global production public Supermetrics Data Warehouse Transfers
        API base path.
      x-internal: false
    get:
      summary: Get transfer configuration
      description: 'Returns configuration for an existing Hub transfer.


        **Returns:** Full transfer configuration details.

        '
      operationId: getTransfer
      tags:
      - Data Transfers
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - name: transfer_id
        in: path
        required: true
        description: Unique identifier for the transfer
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 36091
      responses:
        '200':
          description: Transfer configuration retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferConfigurationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    put:
      summary: Update transfer configuration
      description: 'Updates existing configuration for a Hub transfer.


        **Returns:** Updated transfer object with ID and display name.


        **Important Notes:**

        - Validate configuration using `/v1/teams/{team_id}/transfers/{transfer_id}/validations`
        before updating

        - The transfer must exist and belong to your team

        '
      operationId: updateTransfer
      tags:
      - Data Transfers
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - name: transfer_id
        in: path
        required: true
        description: Unique identifier for the transfer
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 36091
      requestBody:
        required: true
        description: Updated transfer configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferConfigurationRequest'
      responses:
        '200':
          description: Transfer updated successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferUpdatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
  /teams/{team_id}/transfers/{transfer_id}/backfills:
    post:
      summary: Create a backfill
      description: 'Schedule a new backfill for a specific transfer. A backfill re-processes

        historical data for a specified date range.


        **Returns:** The created backfill object with its ID, status, and progress
        information.


        **Important Notes:**

        - The transfer must exist and belong to your team

        - Requires scope `dwh_transfers_write`

        - Your account must have `dwh.transfer.edit` permission. See [roles and permissions](https://docs.supermetrics.com/docs/about-supermetrics-teams-and-user-roles#user-roles).

        - The date range cannot overlap with an existing active backfill

        - Backfills are processed asynchronously

        - The returned backfill object will have status "CREATED" initially

        '
      operationId: createBackfill
      tags:
      - Data Backfills
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/DwhTeamIdPathParam'
      - $ref: '#/components/parameters/DwhTransferIdPathParam'
      requestBody:
        required: true
        description: Backfill creation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBackfillRequest'
            example:
              range_start: '2024-01-01'
              range_end: '2024-01-31'
      responses:
        '200':
          description: Backfill successfully scheduled
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackfillResponse'
              example:
                meta:
                  request_id: 01892A4D-7586-7000-8000-000000000000
                data:
                  transfer_backfill_id: 12345
                  transfer_id: 456789
                  range_start_date: '2024-01-01'
                  range_end_date: '2024-01-31'
                  created_time: '2024-02-01T09:00:00Z'
                  created_user_id: 789
                  start_time: null
                  end_time: null
                  status: CREATED
                  transfer_runs_total: 31
                  transfer_runs_created: 0
                  transfer_runs_completed: 0
                  transfer_runs_failed: 0
                  error_report: []
        '400':
          $ref: '#/components/responses/DwhBadRequest'
        '401':
          $ref: '#/components/responses/DwhUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '404':
          description: Transfer not found
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                meta:
                  request_id: 01892A4D-7586-7000-8000-000000000000
                error:
                  code: NOT_FOUND
                  message: Not Found
                  description: The requested transfer could not be found or you do
                    not have access to it.
        '429':
          $ref: '#/components/responses/DwhTooManyRequests'
        '500':
          $ref: '#/components/responses/DwhInternalServerError'
    servers:
    - url: https://dts-api.supermetrics.com/v1
      description: Data Backfills API
  /teams/{team_id}/transfers/{transfer_id}/backfills/latest:
    get:
      summary: Get latest backfill for a transfer
      description: 'Retrieve information about the most recent backfill for a specific
        transfer.

        This endpoint returns the latest backfill regardless of its status (pending,
        running, completed, failed, or cancelled).


        **Returns:** The latest backfill object with its ID, status, progress information,
        and error details if any.


        **Important Notes:**

        - The transfer must exist and belong to your team

        - Requires scope `dwh_transfers_read`

        - Your account must have `dwh.transfer.view` permission. See [roles and permissions](https://docs.supermetrics.com/docs/about-supermetrics-teams-and-user-roles#user-roles).

        - Returns 404 if no backfill has ever been created for this transfer

        - The backfill object includes real-time progress tracking for running backfills

        '
      operationId: getLatestBackfill
      tags:
      - Data Backfills
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/DwhTeamIdPathParam'
      - $ref: '#/components/parameters/DwhTransferIdPathParam'
      responses:
        '200':
          description: Latest backfill retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackfillResponse'
              examples:
                runningBackfill:
                  summary: Backfill currently in progress
                  value:
                    meta:
                      request_id: 01892A4D-7586-7000-8000-000000000000
                    data:
                      transfer_backfill_id: 12345
                      transfer_id: 456789
                      range_start_date: '2024-01-01'
                      range_end_date: '2024-01-31'
                      created_time: '2024-02-01T09:00:00Z'
                      created_user_id: 789
                      start_time: '2024-02-01T10:00:00Z'
                      end_time: null
                      status: RUNNING
                      transfer_runs_total: 31
                      transfer_runs_created: 31
                      transfer_runs_completed: 15
                      transfer_runs_failed: 0
                      error_report: []
                completedBackfill:
                  summary: Completed backfill
                  value:
                    meta:
                      request_id: 01892A4D-7586-7000-8000-000000000000
                    data:
                      transfer_backfill_id: 12344
                      transfer_id: 456789
                      range_start_date: '2023-12-01'
                      range_end_date: '2023-12-31'
                      created_time: '2024-01-15T07:00:00Z'
                      created_user_id: 789
                      start_time: '2024-01-15T08:00:00Z'
                      end_time: '2024-01-15T10:30:00Z'
                      status: COMPLETED
                      transfer_runs_total: 31
                      transfer_runs_created: 31
                      transfer_runs_completed: 31
                      transfer_runs_failed: 0
                      error_report: []
        '401':
          $ref: '#/components/responses/DwhUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Transfer or backfill not found
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                meta:
                  request_id: 01892A4D-7586-7000-8000-000000000000
                error:
                  code: NOT_FOUND
                  message: Not Found
                  description: No backfill has been created for this transfer yet,
                    or the transfer does not exist or belong to your team.
        '429':
          $ref: '#/components/responses/DwhTooManyRequests'
        '500':
          $ref: '#/components/responses/DwhInternalServerError'
    servers:
    - url: https://dts-api.supermetrics.com/v1
      description: Data Backfills API
  /teams/{team_id}/transfers/{transfer_id}/runs:
    get:
      summary: List transfer runs
      description: 'Retrieve a paginated, filterable list of transfer runs for a specific
        transfer.

        Supports date range filtering, issue filtering, sorting, and pagination.


        **Returns:** Array of transfer run objects.


        **Important Notes:**

        - The transfer must exist and belong to your team

        - Start date and end date are required parameters

        - Results are paginated (default limit: 100, max: 10000)

        '
      operationId: listTransferRuns
      tags:
      - Data Transfers
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - name: transfer_id
        in: path
        required: true
        description: Unique identifier of the transfer
        example: 456789
        schema:
          type: integer
          format: int64
          minimum: 1
      - name: start_date
        in: query
        required: true
        description: Start date for filtering runs (inclusive)
        example: '2024-01-01'
        schema:
          type: string
          format: date-time
      - name: end_date
        in: query
        required: true
        description: End date for filtering runs (inclusive)
        example: '2024-01-31'
        schema:
          type: string
          format: date-time
      - name: filter_issues_only
        in: query
        required: false
        description: Filter to show only runs with issues
        example: false
        schema:
          type: boolean
      - name: sort_field
        in: query
        required: false
        description: Field to sort by
        example: created_time
        schema:
          type: string
          enum:
          - created_time
          - ended_time
          - data_date
      - name: sort_direction
        in: query
        required: false
        description: Sort direction
        example: DESC
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return (default 100, max 10000)
        example: 100
        schema:
          type: integer
          format: int32
          minimum: 1
          default: 100
      - name: offset
        in: query
        required: false
        description: Number of results to skip for pagination
        example: 0
        schema:
          type: integer
          format: int32
          minimum: 0
          default: 0
      responses:
        '200':
          description: Transfer runs retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferRunListResponse'
              examples:
                multipleRuns:
                  summary: Multiple transfer runs
                  value:
                    meta:
                      request_id: 01892A4D-7586-7000-8000-000000000000
                    data:
                    - id: 12345
                      status: COMPLETED
                      created_time: '2024-01-15T09:55:00Z'
                      ended_time: '2024-01-15T10:05:30Z'
                      type: Recurring
                      total_duration: 330.5
                      total_rows: 4500
                      data_date: '2024-01-15'
                      message: ''
                    - id: 12344
                      status: FAILED
                      created_time: '2024-01-14T09:55:00Z'
                      ended_time: '2024-01-14T10:02:00Z'
                      type: Recurring
                      total_duration: 420
                      total_rows: 0
                      data_date: '2024-01-14'
                      message: Connection timeout to data source
                    - id: 12343
                      status: COMPLETED
                      created_time: '2024-01-13T14:00:00Z'
                      ended_time: '2024-01-13T14:08:15Z'
                      type: Backfill
                      total_duration: 495
                      total_rows: 8200
                      data_date: '2024-01-13'
                      message: ''
                emptyList:
                  summary: No transfer runs found
                  value:
                    meta:
                      request_id: 01892A4D-7586-7000-8000-000000000000
                    data: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://dts-api.supermetrics.com
      description: Global production public Supermetrics Data Warehouse Transfer Runs
        API base path.
      x-internal: false
  /teams/{team_id}/transfers/{transfer_id}/state:
    put:
      summary: Change transfer state
      description: 'Change the state of a transfer (pause or resume).


        **Returns:** Transfer state update result with new state.


        **Important Notes:**

        - The transfer must exist and belong to your team

        - Valid actions: "pause", "unpause"

        - Pausing a transfer stops scheduled runs but preserves configuration

        - Resuming a transfer restarts scheduled runs from next scheduled time

        '
      operationId: changeTransferState
      tags:
      - Data Transfers
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - name: transfer_id
        in: path
        required: true
        description: Unique identifier for the transfer
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 36091
      requestBody:
        required: true
        description: New transfer state
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeTransferStateRequest'
            example:
              transfer_state: pause
      responses:
        '200':
          description: Transfer state changed successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferStateUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://dts-api.supermetrics.com
      description: Global production public Supermetrics Data Warehouse Transfers
        API base path.
      x-internal: false
  /teams/{team_id}/transfers/{transfer_id}/validations:
    post:
      summary: Validate transfer update
      description: 'Validates configuration before updating an existing Hub transfer.


        **Returns:** List of validation errors (empty if valid).


        **Important Notes:**

        - Use this endpoint before updating a transfer to check configuration validity

        - Returns field-level validation errors

        '
      operationId: validateTransferUpdate
      tags:
      - Data Transfers
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - name: transfer_id
        in: path
        required: true
        description: Unique identifier for the transfer
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 36091
      requestBody:
        required: true
        description: Transfer configuration to validate
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferConfigurationRequest'
      responses:
        '200':
          description: Validation completed
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://dts-api.supermetrics.com
      description: Global production public Supermetrics Data Warehouse Transfers
        API base path.
      x-internal: false
  /v1/teams/{team_id}/connector_builder/connectors:
    get:
      summary: List connectors
      description: Fetch information for the connectors you have access to.
      operationId: listConnectors
      tags:
      - Connectors
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - name: include_configs
        in: query
        required: false
        description: Whether to include connector configurations in the response.
          Defaults to false.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: List of connectors retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                    minimum: 0
                    description: Total number of connectors
                  connectors:
                    type: array
                    maxItems: 1000
                    items:
                      $ref: '#/components/schemas/Connector'
                required:
                - count
                - connectors
              example:
                count: 1
                connectors:
                - connector_identifier: T3S70
                  name: Test Connector
                  description: A custom connector
                  logo_url: https://assets.supermetrics.com/images/dsLogos/Custom_Connector_Default.png
                  created_at: '2025-01-01T00:00:00+00:00'
                  updated_at: '2025-01-01T00:00:00+00:00'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create connector
      description: Create a new custom connector. Optionally duplicate an existing
        connector by providing its identifier.
      operationId: createConnector
      tags:
      - Connectors
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/TeamId'
      requestBody:
        description: Connector creation parameters. Provide title and optionally duplicate
          from existing connector.
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - title
              properties:
                title:
                  type: string
                  maxLength: 255
                  description: Name of the connector
                description:
                  type: string
                  maxLength: 1000
                  description: Description of the connector
                connector_identifier:
                  type: string
                  maxLength: 100
                  description: Identifier of an existing connector to duplicate. If
                    omitted, creates with default configuration.
            example:
              title: My Custom Connector
              description: Fetches marketing data from a custom API
      responses:
        '201':
          description: Connector created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorWithConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/teams/{team_id}/connector_builder/connectors/{connector_identifier}:
    delete:
      summary: Delete connector
      description: Delete a connector and all its associated data.
      operationId: deleteConnector
      tags:
      - Connectors
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/ConnectorIdentifierPath'
      responses:
        '204':
          description: Connector deleted successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: Get connector
      description: Fetch information for a connector including its configuration.
      operationId: getConnector
      tags:
      - Connectors
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/ConnectorIdentifierPath'
      responses:
        '200':
          description: Connector retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorWithConfiguration'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Update connector
      description: Update a connector's name, description, and configuration.
      operationId: updateConnector
      tags:
      - Connectors
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/ConnectorIdentifierPath'
      requestBody:
        description: Connector metadata and configuration to update.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConnectorRequest'
            example:
              connector:
                name: Updated Connector Name
                description: Updated description for the connector
              configuration:
                configuration_json:
                  auth:
                    type: oauth2
      responses:
        '204':
          description: Connector updated successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/teams/{team_id}/connector_builder/connectors/{connector_identifier}/logo:
    get:
      summary: Get connector logo
      description: Get the logo URL for a connector.
      operationId: getConnectorLogo
      tags:
      - Connector Logo
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/ConnectorIdentifierPath'
      responses:
        '200':
          description: Logo URL retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  logo_url:
                    type: string
                    format: uri
                    maxLength: 2048
                    description: URL of the connector logo
                required:
                - logo_url
              example:
                logo_url: https://assets.supermetrics.com/images/dsLogos/Custom_Connector_Default.png
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Upload connector logo
      description: Upload a logo image for a connector.
      operationId: uploadConnectorLogo
      tags:
      - Connector Logo
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/ConnectorIdentifierPath'
      requestBody:
        description: Logo image file for the connector.
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - logo
              properties:
                logo:
                  type: string
                  format: binary
                  description: The image file to set as the connector logo.
      responses:
        '201':
          description: Logo uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  logo_url:
                    type: string
                    format: uri
                    maxLength: 2048
                    description: URL of the uploaded connector logo
                required:
                - logo_url
              example:
                logo_url: https://assets.supermetrics.com/images/dsLogos/Custom_Connector_Default.png
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/teams/{team_id}/connector_builder/connectors/{connector_identifier}/logs:
    get:
      summary: List connector logs
      description: Fetch execution logs for a connector. Returns logs in reverse chronological
        order.
      operationId: listConnectorLogs
      tags:
      - Connector Logs
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/ConnectorIdentifierPath'
      - name: limit
        in: query
        required: false
        description: Number of log entries to return, up to a maximum of 1000.
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          default: 100
      - name: before
        in: query
        required: false
        description: ISO 8601 timestamp to return logs before. If omitted, starts
          from latest entry.
        schema:
          type: string
          format: date-time
        example: '2025-06-01T00:00:00Z'
      responses:
        '200':
          description: Logs retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: array
                    maxItems: 1000
                    items:
                      $ref: '#/components/schemas/LogEntry'
                required:
                - logs
              example:
                logs:
                - id: 123-foo
                  log_time: '2025-01-01T00:00:00Z'
                  status: 200
                  event: auth.token.refresh
                  request: POST /api/oauth/token_refresh
                  duration_ms: 253
                  request_id: 8dc24bc2-8a17-4188-a509-217cb8799929
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/teams/{team_id}/connector_builder/connectors/{connector_identifier}/logs/{log_id}:
    get:
      summary: Get connector log
      description: Fetch detailed information for a specific connector log entry.
      operationId: getConnectorLog
      tags:
      - Connector Logs
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/ConnectorIdentifierPath'
      - $ref: '#/components/parameters/LogIdPath'
      responses:
        '200':
          description: Log details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogEntry'
              example:
                id: '123'
                log_time: '2025-01-01T00:00:00Z'
                status: 200
                event: auth.token.refresh
                request: POST /api/oauth/token_refresh
                duration_ms: 253
                request_id: 8dc24bc2-8a17-4188-a509-217cb8799929
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/teams/{team_id}/connector_builder/connectors/{connector_identifier}/secrets:
    get:
      summary: List connector secrets
      description: Fetch all secrets for a connector. Secret values are never returned.
      operationId: listConnectorSecrets
      tags:
      - Connector Secrets
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/ConnectorIdentifierPath'
      responses:
        '200':
          description: Secrets retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                    minimum: 0
                    description: Number of secrets
                  secrets:
                    type: array
                    maxItems: 100
                    items:
                      $ref: '#/components/schemas/Secret'
                required:
                - count
                - secrets
              example:
                count: 1
                secrets:
                - secret_placeholder: sec_a23f23d26
                  secret_name: client_id
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create connector secret
      description: Create a new encrypted secret for a connector. The secret placeholder
        is generated server-side. Returns the updated list of secrets.
      operationId: createConnectorSecret
      tags:
      - Connector Secrets
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/ConnectorIdentifierPath'
      requestBody:
        description: Secret name and value to encrypt and store.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecretRequest'
            example:
              secret_name: client_id
              secret_value: my-super-secret-value
      responses:
        '201':
          description: Secret created successfully. Returns updated list of secrets.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                    minimum: 0
                    description: Number of secrets
                  secrets:
                    type: array
                    maxItems: 100
                    items:
                      $ref: '#/components/schemas/Secret'
                required:
                - count
                - secrets
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/teams/{team_id}/connector_builder/connectors/{connector_identifier}/secrets/{secret_placeholder}:
    delete:
      summary: Delete connector secret
      description: Delete a secret from a connector.
      operationId: deleteConnectorSecret
      tags:
      - Connector Secrets
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/ConnectorIdentifierPath'
      - $ref: '#/components/parameters/SecretPlaceholderPath'
      responses:
        '204':
          description: Secret deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Update connector secret
      description: Overwrite the value of an existing secret. The previous value cannot
        be recovered.
      operationId: updateConnectorSecret
      tags:
      - Connector Secrets
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/ConnectorIdentifierPath'
      - $ref: '#/components/parameters/SecretPlaceholderPath'
      requestBody:
        description: New secret value to overwrite the existing one.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSecretRequest'
            example:
              secret_value: new-secret-value
      responses:
        '204':
          description: Secret updated successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
[...]
