openapi: 3.0.3
info:
  title: Supermetrics API
  version: 2.0.0
  description: Supermetrics API for authentication and data querying. For more information,
    visit https://supermetrics.com.
  contact:
    name: Supermetrics Support
    email: support@supermetrics.com
    url: https://supermetrics.com/support
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.supermetrics.com/v2
  description: Global production public Supermetrics Data API base path.
  x-internal: false
- url: https://api.supermetrics.com
  description: Global production public Supermetrics API base path for datasource
    search.
  x-internal: false
- url: https://api.supermetrics.com/v2
  description: Global production public Supermetrics Management API base path.
  x-internal: false
- url: https://api.supermetrics.com
  description: Global production public Supermetrics API base path (for Connector
    Builder and Team endpoints).
  x-internal: false
- url: https://dts-api.supermetrics.com/v1
  description: Data Backfills API
paths:
  /query/data/json:
    get:
      summary: Query data
      description: Execute a query to retrieve data from a specified data source
      operationId: getData
      tags:
      - Get data
      parameters:
      - name: json
        in: query
        required: true
        description: JSON-encoded data query parameters
        example:
          ds_id: GAWA
          start_date: yesterday
          end_date: yesterday
          fields:
          - date
          - sessions
        schema:
          $ref: '#/components/schemas/DataQuery'
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Query executed successfully
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /query/accounts:
    get:
      summary: Get accounts
      description: Retrieve a list of available data source logins (authentications)
        and their accounts
      operationId: getAccounts
      tags:
      - Data source
      parameters:
      - name: json
        in: query
        required: true
        description: JSON-encoded account query parameters
        example:
          ds_id: GAWA
        schema:
          type: object
          required:
          - ds_id
          properties:
            api_key:
              type: string
              maxLength: 255
              pattern: ^[A-Za-z0-9_-]+$
              description: API key when not using an authorization header
            ds_id:
              type: string
              maxLength: 50
              pattern: ^[A-Za-z0-9_-]+$
              description: Data source ID
            ds_users:
              oneOf:
              - type: string
                maxLength: 255
              - type: array
                maxItems: 100
                items:
                  type: string
                  maxLength: 255
              description: List of data source login usernames to target (case-insensitive)
            cache_minutes:
              type: integer
              format: int32
              description: Maximum allowed age of cache in minutes
              minimum: 60
              maximum: 1440
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Accounts retrieved successfully
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        maxLength: 50
                        pattern: ^[A-Za-z0-9_-]+$
                        description: API request ID
                      query:
                        type: object
                        properties:
                          cache_minutes:
                            type: integer
                            nullable: true
                            format: int32
                            minimum: 60
                            maximum: 1440
                            description: Requested maximum age of cache in minutes
                  data:
                    type: array
                    maxItems: 100
                    items:
                      type: object
                      properties:
                        ds_user:
                          type: string
                          maxLength: 255
                          description: Data source login username
                        display_name:
                          type: string
                          maxLength: 255
                          description: Display name for login
                        cache_time:
                          type: string
                          nullable: true
                          format: date-time
                          maxLength: 30
                          description: ISO 8601 datetime for the last time the login
                            data was fetched and cached
                        accounts:
                          type: array
                          maxItems: 1000
                          items:
                            type: object
                            properties:
                              account_id:
                                type: string
                                maxLength: 50
                                description: Account ID
                              account_name:
                                type: string
                                maxLength: 255
                                description: Account name
                              group_name:
                                type: string
                                maxLength: 255
                                description: Account group name (empty string when
                                  not available)
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /ds/logins:
    get:
      summary: List logins
      description: Retrieve a list of all data source logins
      operationId: listDataSourceLogins
      tags:
      - Data Source Logins
      security:
      - BearerAuth: []
      responses:
        '200':
          description: List of data source logins retrieved successfully
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
                  data:
                    type: array
                    maxItems: 1000
                    items:
                      $ref: '#/components/schemas/DataSourceLogin'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/LoginSearchFailed'
  /ds/login/{login_id}:
    get:
      summary: Get login
      description: Retrieve details of a specific data source login
      operationId: getDataSourceLogin
      tags:
      - Data Source Logins
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Data source login details retrieved successfully
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
                  data:
                    $ref: '#/components/schemas/DataSourceLogin'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/LoginNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/LoginSearchFailed'
    parameters:
    - name: login_id
      in: path
      required: true
      schema:
        type: string
        maxLength: 50
        pattern: ^[A-Za-z0-9_-]+$
      description: Supermetrics login ID
  /ds/login/links:
    get:
      summary: List login links
      description: List all data source login links
      operationId: listLoginLinks
      tags:
      - Data Source Login Links
      security:
      - BearerAuth: []
      responses:
        '200':
          description: List of login links retrieved successfully
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
                  data:
                    type: array
                    maxItems: 1000
                    items:
                      $ref: '#/components/schemas/LoginLink'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /ds/login/link:
    post:
      summary: Create login link
      description: Create a new data source login link
      operationId: createLoginLink
      tags:
      - Data Source Login Links
      security:
      - BearerAuth: []
      requestBody:
        description: Login link creation parameters including data source and expiration
          settings
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - ds_id
              properties:
                ds_id:
                  type: string
                  maxLength: 50
                  pattern: ^[A-Za-z0-9_-]+$
                  description: Data source ID
                expiry_time:
                  type: string
                  format: date-time
                  maxLength: 50
                  description: Link expiry time as datetime in ISO 8601 format or
                    relative time string (e.g. "10 hours"). Defaulting to 24 hours
                    from creation time.
                description:
                  type: string
                  maxLength: 1000
                  description: Internal description for the link. Not shown during
                    the authentication attempt.
                require_username:
                  type: string
                  maxLength: 255
                  description: Data source username that needs to be used in authentication
                    attempt. Normally used when renewing existing credentials.
                redirect_url:
                  type: string
                  format: uri
                  maxLength: 500
                  description: Custom URL to redirect to after successful authentication.
            example:
              ds_id: GAWA
              expiry_time: '2026-03-01T23:59:59Z'
              description: Google Analytics login link for marketing team
              require_username: marketing@company.com
              redirect_url: https://company.com/auth/success
      responses:
        '201':
          description: Login link created successfully
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginLinkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/LinkLimitExceeded'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /ds/login/link/{link_id}:
    get:
      summary: Get login link
      description: Get details of a specific login link
      operationId: getLoginLink
      tags:
      - Data Source Login Links
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Login link details retrieved successfully
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginLinkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/LinkNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    parameters:
    - name: link_id
      in: path
      required: true
      schema:
        type: string
        maxLength: 50
        pattern: ^[A-Za-z0-9_-]+$
      description: Supermetrics login link ID
  /ds/login/link/{link_id}/close:
    put:
      summary: Close login link
      description: Close a login link. Link will stop accepting new requests once
        closed, but closing will not affect already started authentication attempts.
      operationId: closeLoginLink
      tags:
      - Data Source Login Links
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Login link closed successfully
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginLinkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/LinkNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/LinkUpdateFailed'
    parameters:
    - name: link_id
      in: path
      required: true
      schema:
        type: string
        maxLength: 50
        pattern: ^[A-Za-z0-9_-]+$
      description: Supermetrics login link ID
  /teams/{team_id}/transfers/{transfer_id}/backfills:
    post:
      summary: Create a backfill
      description: 'Schedule a new backfill for a specific transfer. A backfill re-processes

        historical data for a specified date range.


        **Returns:** The created backfill object with its ID, status, and progress
        information.


        **Important Notes:**

        - The transfer must exist and belong to your team

        - Requires scope `dwh_transfers_write`

        - Your account must have `dwh.transfer.edit` permission. See [roles and permissions](https://docs.supermetrics.com/docs/about-supermetrics-teams-and-user-roles#user-roles).

        - The date range cannot overlap with an existing active backfill

        - Backfills are processed asynchronously

        - The returned backfill object will have status "CREATED" initially

        '
      operationId: createBackfill
      tags:
      - Data Backfills
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/DwhTeamIdPathParam'
      - $ref: '#/components/parameters/DwhTransferIdPathParam'
      requestBody:
        required: true
        description: Backfill creation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBackfillRequest'
            example:
              range_start: '2024-01-01'
              range_end: '2024-01-31'
      responses:
        '200':
          description: Backfill successfully scheduled
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackfillResponse'
              example:
                meta:
                  request_id: 01892A4D-7586-7000-8000-000000000000
                data:
                  transfer_backfill_id: 12345
                  transfer_id: 456789
                  range_start_date: '2024-01-01'
                  range_end_date: '2024-01-31'
                  created_time: '2024-02-01T09:00:00Z'
                  created_user_id: 789
                  start_time: null
                  end_time: null
                  status: CREATED
                  transfer_runs_total: 31
                  transfer_runs_created: 0
                  transfer_runs_completed: 0
                  transfer_runs_failed: 0
                  error_report: []
        '400':
          $ref: '#/components/responses/DwhBadRequest'
        '401':
          $ref: '#/components/responses/DwhUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '404':
          description: Transfer not found
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                meta:
                  request_id: 01892A4D-7586-7000-8000-000000000000
                error:
                  code: NOT_FOUND
                  message: Not Found
                  description: The requested transfer could not be found or you do
                    not have access to it.
        '429':
          $ref: '#/components/responses/DwhTooManyRequests'
        '500':
          $ref: '#/components/responses/DwhInternalServerError'
    servers:
    - url: https://dts-api.supermetrics.com/v1
      description: Data Backfills API
  /teams/{team_id}/transfers/{transfer_id}/backfills/latest:
    get:
      summary: Get latest backfill for a transfer
      description: 'Retrieve information about the most recent backfill for a specific
        transfer.

        This endpoint returns the latest backfill regardless of its status (pending,
        running, completed, failed, or cancelled).


        **Returns:** The latest backfill object with its ID, status, progress information,
        and error details if any.


        **Important Notes:**

        - The transfer must exist and belong to your team

        - Requires scope `dwh_transfers_read`

        - Your account must have `dwh.transfer.view` permission. See [roles and permissions](https://docs.supermetrics.com/docs/about-supermetrics-teams-and-user-roles#user-roles).

        - Returns 404 if no backfill has ever been created for this transfer

        - The backfill object includes real-time progress tracking for running backfills

        '
      operationId: getLatestBackfill
      tags:
      - Data Backfills
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/DwhTeamIdPathParam'
      - $ref: '#/components/parameters/DwhTransferIdPathParam'
      responses:
        '200':
          description: Latest backfill retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackfillResponse'
              examples:
                runningBackfill:
                  summary: Backfill currently in progress
                  value:
                    meta:
                      request_id: 01892A4D-7586-7000-8000-000000000000
                    data:
                      transfer_backfill_id: 12345
                      transfer_id: 456789
                      range_start_date: '2024-01-01'
                      range_end_date: '2024-01-31'
                      created_time: '2024-02-01T09:00:00Z'
                      created_user_id: 789
                      start_time: '2024-02-01T10:00:00Z'
                      end_time: null
                      status: RUNNING
                      transfer_runs_total: 31
                      transfer_runs_created: 31
                      transfer_runs_completed: 15
                      transfer_runs_failed: 0
                      error_report: []
                completedBackfill:
                  summary: Completed backfill
                  value:
                    meta:
                      request_id: 01892A4D-7586-7000-8000-000000000000
                    data:
                      transfer_backfill_id: 12344
                      transfer_id: 456789
                      range_start_date: '2023-12-01'
                      range_end_date: '2023-12-31'
                      created_time: '2024-01-15T07:00:00Z'
                      created_user_id: 789
                      start_time: '2024-01-15T08:00:00Z'
                      end_time: '2024-01-15T10:30:00Z'
                      status: COMPLETED
                      transfer_runs_total: 31
                      transfer_runs_created: 31
                      transfer_runs_completed: 31
                      transfer_runs_failed: 0
                      error_report: []
        '401':
          $ref: '#/components/responses/DwhUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Transfer or backfill not found
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                meta:
                  request_id: 01892A4D-7586-7000-8000-000000000000
                error:
                  code: NOT_FOUND
                  message: Not Found
                  description: No backfill has been created for this transfer yet,
                    or the transfer does not exist or belong to your team.
        '429':
          $ref: '#/components/responses/DwhTooManyRequests'
        '500':
          $ref: '#/components/responses/DwhInternalServerError'
    servers:
    - url: https://dts-api.supermetrics.com/v1
      description: Data Backfills API
  /teams/{team_id}/backfills:
    get:
      summary: List incomplete backfills for team
      description: 'Retrieve a list of all incomplete backfills for your team.

        This endpoint returns only backfills that are not yet finished.


        **What are "incomplete" backfills?**

        - **Included:** Backfills with status `CREATED`, `SCHEDULED`, `RUNNING`, or
        `FAILED`

        - **Excluded:** Backfills with status `COMPLETED` or `CANCELLED`


        **Returns:** Array of backfill objects sorted by creation time (newest first).


        **Important Notes:**

        - Requires scope `dwh_transfers_read`

        - Your account must have `dwh.transfer.view` permission. See [roles and permissions](https://docs.supermetrics.com/docs/about-supermetrics-teams-and-user-roles#user-roles).

        - Only backfills belonging to your team are returned

        - The list includes backfills for all transfers in your team

        - Each backfill includes real-time progress tracking for running backfills

        '
      operationId: listIncompleteBackfills
      tags:
      - Data Backfills
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/DwhTeamIdPathParam'
      responses:
        '200':
          description: List of incomplete backfills retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                type: object
                required:
                - meta
                - data
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
                  data:
                    type: array
                    maxItems: 100
                    items:
                      $ref: '#/components/schemas/Backfill'
                    description: Array of incomplete backfill objects
              examples:
                multipleBackfills:
                  summary: Multiple incomplete backfills
                  value:
                    meta:
                      request_id: 01892A4D-7586-7000-8000-000000000000
                    data:
                    - transfer_backfill_id: 12347
                      transfer_id: 456790
                      range_start_date: '2024-02-01'
                      range_end_date: '2024-02-28'
                      created_time: '2024-03-01T14:00:00Z'
                      created_user_id: 789
                      start_time: '2024-03-01T14:30:00Z'
                      end_time: null
                      status: RUNNING
                      transfer_runs_total: 28
                      transfer_runs_created: 28
                      transfer_runs_completed: 15
                      transfer_runs_failed: 0
                      error_report: []
                    - transfer_backfill_id: 12346
                      transfer_id: 456789
                      range_start_date: '2024-01-15'
                      range_end_date: '2024-01-31'
                      created_time: '2024-02-15T09:30:00Z'
                      created_user_id: 790
                      start_time: '2024-02-15T10:00:00Z'
                      end_time: null
                      status: RUNNING
                      transfer_runs_total: 17
                      transfer_runs_created: 17
                      transfer_runs_completed: 10
                      transfer_runs_failed: 0
                      error_report: []
                    - transfer_backfill_id: 12345
                      transfer_id: 456788
                      range_start_date: '2024-01-01'
                      range_end_date: '2024-01-14'
                      created_time: '2024-02-01T08:00:00Z'
                      created_user_id: 789
                      start_time: null
                      end_time: null
                      status: SCHEDULED
                      transfer_runs_total: 14
                      transfer_runs_created: 14
                      transfer_runs_completed: 0
                      transfer_runs_failed: 0
                      error_report: []
                emptyList:
                  summary: No incomplete backfills
                  value:
                    meta:
                      request_id: 01892A4D-7586-7000-8000-000000000000
                    data: []
        '401':
          $ref: '#/components/responses/DwhUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/DwhTooManyRequests'
        '500':
          $ref: '#/components/responses/DwhInternalServerError'
    servers:
    - url: https://dts-api.supermetrics.com/v1
      description: Data Backfills API
  /teams/{team_id}/backfills/{backfill_id}:
    get:
      summary: Get backfill by ID
      description: 'Retrieve detailed information about a specific backfill using
        its unique identifier.

        This endpoint returns the complete backfill object with current status, progress
        tracking, and error details.


        **Returns:** The backfill object with its ID, status, progress information,
        and error details if any.


        **Important Notes:**

        - The backfill must exist and belong to your team

        - Requires scope `dwh_transfers_read`

        - Your account must have `dwh.transfer.view` permission. See [roles and permissions](https://docs.supermetrics.com/docs/about-supermetrics-teams-and-user-roles#user-roles).

        - Returns 404 if the backfill does not exist or does not belong to your team

        - The backfill object includes real-time progress tracking for running backfills

        '
      operationId: getBackfillById
      tags:
      - Data Backfills
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/DwhTeamIdPathParam'
      - $ref: '#/components/parameters/DwhBackfillIdPathParam'
      responses:
        '200':
          description: Backfill retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackfillResponse'
              example:
                meta:
                  request_id: 01892A4D-7586-7000-8000-000000000000
                data:
                  transfer_backfill_id: 12345
                  transfer_id: 456789
                  range_start_date: '2024-01-01'
                  range_end_date: '2024-01-31'
                  created_time: '2024-02-01T09:00:00Z'
                  created_user_id: 789
                  start_time: '2024-02-01T10:00:00Z'
                  end_time: null
                  status: RUNNING
                  transfer_runs_total: 31
                  transfer_runs_created: 31
                  transfer_runs_completed: 25
                  transfer_runs_failed: 2
                  error_report: []
        '401':
          $ref: '#/components/responses/DwhUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/DwhBackfillNotFound'
        '429':
          $ref: '#/components/responses/DwhTooManyRequests'
        '500':
          $ref: '#/components/responses/DwhInternalServerError'
    servers:
    - url: https://dts-api.supermetrics.com/v1
      description: Data Backfills API
    patch:
      summary: Update backfill status
      description: 'Update the status of a backfill. Currently, the only supported
        operation is

        cancelling a backfill by setting status to "CANCELLED".


        **What happens when you cancel:**

        - Backfill status is changed to "CANCELLED"

        - All pending/queued transfer runs associated with this backfill are cancelled

        - Transfer runs that are already running will complete

        - The backfill''s `end_time` is set to the cancellation time

        - The `removed_time` and `removed_user_id` fields are set


        **Important: This endpoint does NOT delete the backfill.**

        - The backfill record remains in the system with status "CANCELLED"

        - You can still retrieve the backfill information using GET /v1/teams/{team_id}/backfills/{backfill_id}


        **Returns:** The updated backfill object with the new status and updated timestamps.


        **Important Notes:**

        - The backfill must exist and belong to your team

        - Requires scope `dwh_transfers_write`

        - Your account must have `dwh.transfer.edit` permission. See [roles and permissions](https://docs.supermetrics.com/docs/about-supermetrics-teams-and-user-roles#user-roles).

        - Only backfills with incomplete status (CREATED, SCHEDULED, RUNNING, FAILED)
        can be cancelled

        - Returns 404 if the backfill does not exist or does not belong to your team

        - Returns 422 if the backfill cannot be updated (e.g., already in a final
        state)

        '
      operationId: updateBackfillStatus
      tags:
      - Data Backfills
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/DwhTeamIdPathParam'
      - $ref: '#/components/parameters/DwhBackfillIdPathParam'
      requestBody:
        required: true
        description: Status update parameters
        content:
          application/json:
            schema:
              type: object
              required:
              - status
              properties:
                status:
                  type: string
                  description: New status for the backfill. Currently only "CANCELLED"
                    is supported.
                  enum:
                  - CANCELLED
                  example: CANCELLED
            example:
              status: CANCELLED
      responses:
        '200':
          description: Backfill status successfully updated
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackfillResponse'
              example:
                meta:
                  request_id: 01892A4D-7586-7000-8000-000000000000
                data:
                  transfer_backfill_id: 12345
                  transfer_id: 456789
                  range_start_date: '2024-01-01'
                  range_end_date: '2024-01-31'
                  created_time: '2024-02-01T09:00:00Z'
                  created_user_id: 789
                  removed_time: '2024-02-01T15:30:00Z'
                  removed_user_id: 790
                  start_time: '2024-02-01T10:00:00Z'
                  end_time: '2024-02-01T15:30:00Z'
                  status: CANCELLED
                  transfer_runs_total: 31
                  transfer_runs_created: 31
                  transfer_runs_completed: 25
                  transfer_runs_failed: 2
                  error_report: []
        '400':
          $ref: '#/components/responses/DwhBadRequest'
        '401':
          $ref: '#/components/responses/DwhUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/DwhBackfillNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/DwhTooManyRequests'
        '500':
          $ref: '#/components/responses/DwhInternalServerError'
  /v1/teams/{team_id}/connector_builder/connectors:
    get:
      summary: List connectors
      description: Fetch information for the connectors you have access to.
      operationId: listConnectors
      tags:
      - Connectors
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - name: include_configs
        in: query
        required: false
        description: Whether to include connector configurations in the response.
          Defaults to false.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: List of connectors retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                    minimum: 0
                    description: Total number of connectors
                  connectors:
                    type: array
                    maxItems: 1000
                    items:
                      $ref: '#/components/schemas/Connector'
                required:
                - count
                - connectors
              example:
                count: 1
                connectors:
                - connector_identifier: T3S70
                  name: Test Connector
                  description: A custom connector
                  logo_url: https://assets.supermetrics.com/images/dsLogos/Custom_Connector_Default.png
                  created_at: '2025-01-01T00:00:00+00:00'
                  updated_at: '2025-01-01T00:00:00+00:00'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create connector
      description: Create a new custom connector. Optionally duplicate an existing
        connector by providing its identifier.
      operationId: createConnector
      tags:
      - Connectors
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/TeamId'
      requestBody:
        description: Connector creation parameters. Provide title and optionally duplicate
          from existing connector.
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - title
              properties:
                title:
                  type: string
                  maxLength: 255
                  description: Name of the connector
                description:
                  type: string
                  maxLength: 1000
                  description: Description of the connector
                connector_identifier:
                  type: string
                  maxLength: 100
                  description: Identifier of an existing connector to duplicate. If
                    omitted, creates with default configuration.
            example:
              title: My Custom Connector
              description: Fetches marketing data from a custom API
      responses:
        '201':
          description: Connector created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorWithConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/teams/{team_id}/connector_builder/connectors/{connector_identifier}:
    get:
      summary: Get connector
      description: Fetch information for a connector including its configuration.
      operationId: getConnector
      tags:
      - Connectors
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/ConnectorIdentifierPath'
      responses:
        '200':
          description: Connector retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorWithConfiguration'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Update connector
      description: Update a connector's name, description, and configuration.
      operationId: updateConnector
      tags:
      - Connectors
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/ConnectorIdentifierPath'
      requestBody:
        description: Connector metadata and configuration to update.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConnectorRequest'
            example:
              connector:
                name: Updated Connector Name
                description: Updated description for the connector
              configuration:
                configuration_json:
                  auth:
                    type: oauth2
      responses:
        '204':
          description: Connector updated successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete connector
      description: Delete a connector and all its associated data.
      operationId: deleteConnector
      tags:
      - Connectors
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/ConnectorIdentifierPath'
      responses:
        '204':
          description: Connector deleted successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/teams/{team_id}/connector_builder/connectors/{connector_identifier}/secrets:
    get:
      summary: List connector secrets
      description: Fetch all secrets for a connector. Secret values are never returned.
      operationId: listConnectorSecrets
      tags:
      - Connector Secrets
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/ConnectorIdentifierPath'
      responses:
        '200':
          description: Secrets retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                    minimum: 0
                    description: Number of secrets
                  secrets:
                    type: array
                    maxItems: 100
                    items:
                      $ref: '#/components/schemas/Secret'
                required:
                - count
                - secrets
              example:
                count: 1
                secrets:
                - secret_placeholder: sec_a23f23d26
                  secret_name: client_id
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create connector secret
      description: Create a new encrypted secret for a connector. The secret placeholder
        is generated server-side. Returns the updated list of secrets.
      operationId: createConnectorSecret
      tags:
      - Connector Secrets
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/ConnectorIdentifierPath'
      requestBody:
        description: Secret name and value to encrypt and store.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecretRequest'
            example:
              secret_name: client_id
              secret_value: my-super-secret-value
      responses:
        '201':
          description: Secret created successfully. Returns updated list of secrets.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                    minimum: 0
                    description: Number of secrets
                  secrets:
                    type: array
                    maxItems: 100
                    items:
                      $ref: '#/components/schemas/Secret'
                required:
                - count
                - secrets
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/teams/{team_id}/connector_builder/connectors/{connector_identifier}/secrets/{secret_placeholder}:
    put:
      summary: Update connector secret
      description: Overwrite the value of an existing secret. The previous value cannot
        be recovered.
      operationId: updateConnectorSecret
      tags:
      - Connector Secrets
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/ConnectorIdentifierPath'
      - $ref: '#/components/parameters/SecretPlaceholderPath'
      requestBody:
        description: New secret value to overwrite the existing one.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSecretRequest'
            example:
              secret_value: new-secret-value
      responses:
        '204':
          description: Secret updated successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete connector secret
      description: Delete a secret from a connector.
      operationId: deleteConnectorSecret
      tags:
      - Connector Secrets
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/ConnectorIdentifierPath'
      - $ref: '#/components/parameters/SecretPlaceholderPath'
      responses:
        '204':
          description: Secret deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/teams/{team_id}/connector_builder/connectors/{connector_identifier}/logs:
    get:
      summary: List connector logs
      description: Fetch execution logs for a connector. Returns logs in reverse chronological
        order.
      operationId: listConnectorLogs
      tags:
      - Connector Logs
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/ConnectorIdentifierPath'
      - name: limit
        in: query
        required: false
        description: Number of log entries to return, up to a maximum of 1000.
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          default: 100
      - name: before
        in: query
        required: false
        description: ISO 8601 timestamp to return logs before. If omitted, starts
          from latest entry.
        schema:
          type: string
          format: date-time
        example: '2025-06-01T00:00:00Z'
      responses:
        '200':
          description: Logs retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: array
                    maxItems: 1000
                    items:
                      $ref: '#/components/schemas/LogEntry'
                required:
                - logs
              example:
                logs:
                - id: 123-foo
                  log_time: '2025-01-01T00:00:00Z'
                  status: 200
                  event: auth.token.refresh
                  request: POST /api/oauth/token_refresh
                  duration_ms: 253
                  request_id: 8dc24bc2-8a17-4188-a509-217cb8799929
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/teams/{team_id}/connector_builder/connectors/{connector_identifier}/logs/{log_id}:
    get:
      summary: Get connector log
      description: Fetch detailed information for a specific connector log entry.
      operationId: getConnectorLog
      tags:
      - Connector Logs
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/ConnectorIdentifierPath'
      - $ref: '#/components/parameters/LogIdPath'
      responses:
        '200':
          description: Log details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogEntry'
              example:
                id: '123'
                log_time: '2025-01-01T00:00:00Z'
                status: 200
                event: auth.token.refresh
                request: POST /api/oauth/token_refresh
                duration_ms: 253
                request_id: 8dc24bc2-8a17-4188-a509-217cb8799929
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/teams/{team_id}/connector_builder/connectors/{connector_identifier}/logo:
    get:
      summary: Get connector logo
      description: Get the logo URL for a connector.
      operationId: getConnectorLogo
      tags:
      - Connector Logo
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/ConnectorIdentifierPath'
      responses:
        '200':
          description: Logo URL retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  logo_url:
                    type: string
                    format: uri
                    maxLength: 2048
                    description: URL of the connector logo
                required:
                - logo_url
              example:
                logo_url: https://assets.supermetrics.com/images/dsLogos/Custom_Connector_Default.png
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Upload connector logo
      description: Upload a logo image for a connector.
      operationId: uploadConnectorLogo
      tags:
      - Connector Logo
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/ConnectorIdentifierPath'
      requestBody:
        description: Logo image file for the connector.
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - logo
              properties:
                logo:
                  type: string
                  format: binary
                  description: The image file to set as the connector logo.
      responses:
        '201':
          description: Logo uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  logo_url:
                    type: string
                    format: uri
                    maxLength: 2048
                    description: URL of the uploaded connector logo
                required:
                - logo_url
              example:
                logo_url: https://assets.supermetrics.com/images/dsLogos/Custom_Connector_Default.png
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /teams/{team_id}/datasource/{data_source_id}:
    get:
      summary: Get datasource configuration details
      description: Retrieve complete configuration details for a data source including
        report types, settings, and authentication requirements.
      operationId: getDatasourceDetails
      tags:
      - Datasource
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - name: data_source_id
        in: path
        required: true
        schema:
          type: string
          maxLength: 100
        description: Data source identifier (e.g., "GAWA", "AW", "SA360")
      - name: Sm-App-Id
        in: header
        required: false
        schema:
          type: string
          maxLength: 100
          example: XPLD
        description: Application identifier
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      responses:
        '200':
          description: Successfully retrieved datasource details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasourceDetailsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    Backfill:
      type: object
      required:
      - transfer_backfill_id
      - transfer_id
      - range_start_date
      - range_end_date
      - status
      - created_time
      - created_user_id
      - transfer_runs_total
      - transfer_runs_created
      - transfer_runs_completed
      - transfer_runs_failed
      properties:
        transfer_backfill_id:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854775807
          description: Unique identifier of the backfill
          example: 12345
        transfer_id:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854775807
          description: ID of the transfer this backfill belongs to
          example: 456789
        range_start_date:
          type: string
          format: date
          maxLength: 10
          description: Start date of the backfill range
          example: '2024-01-01'
        range_end_date:
          type: string
          format: date
          maxLength: 10
          description: End date of the backfill range
          example: '2024-01-31'
        created_time:
          type: string
          format: date-time
          maxLength: 30
          description: Timestamp when the backfill was created (ISO 8601 format)
          example: '2024-02-01T09:00:00Z'
        created_user_id:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854775807
          description: ID of the user who created the backfill
          example: 789
        removed_time:
          type: string
          format: date-time
          maxLength: 30
          description: Timestamp when the backfill was cancelled/removed (ISO 8601
            format)
          example: '2024-02-01T15:00:00Z'
          nullable: true
        removed_user_id:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854775807
          description: ID of the user who cancelled/removed the backfill
          example: 790
          nullable: true
        start_time:
          type: string
          format: date-time
          maxLength: 30
          description: Timestamp when the backfill processing started (ISO 8601 format)
          example: '2024-02-01T10:00:00Z'
          nullable: true
        end_time:
          type: string
          format: date-time
          maxLength: 30
          description: Timestamp when the backfill processing completed (ISO 8601
            format)
          example: '2024-02-01T12:30:00Z'
          nullable: true
        status:
          type: string
          description: Current status of the backfill
          enum:
          - CREATED
          - SCHEDULED
          - RUNNING
          - FAILED
          - COMPLETED
          - CANCELLED
          example: RUNNING
        transfer_runs_total:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
          description: Total number of transfer runs created for this backfill
          example: 31
        transfer_runs_created:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
          description: Number of transfer runs that have been created
          example: 31
        transfer_runs_completed:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
          description: Number of transfer runs that have completed successfully
          example: 25
        transfer_runs_failed:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
          description: Number of transfer runs that have failed
          example: 2
        error_report:
          type: array
          description: List of errors that occurred during backfill processing (empty
            array if no errors)
          items:
            $ref: '#/components/schemas/TransferBackfillRunError'
    BackfillResponse:
      type: object
      required:
      - meta
      - data
      properties:
        meta:
          type: object
          description: Metadata included in every API response.
          properties:
            request_id:
              $ref: '#/components/schemas/RequestId'
          required:
          - request_id
          additionalProperties: false
        data:
          $ref: '#/components/schemas/Backfill'
    Connector:
      type: object
      description: A custom connector with its metadata.
      properties:
        connector_identifier:
          type: string
          maxLength: 100
          description: Unique identifier of the connector
          example: T3S70
        name:
          type: string
          maxLength: 255
          description: Name of the connector
          example: Test Connector
        description:
          type: string
          maxLength: 1000
          nullable: true
          description: Description of the connector
          example: A custom connector for fetching marketing data
        logo_url:
          type: string
          format: uri
          maxLength: 2048
          nullable: true
          description: URL of the connector logo
          example: https://assets.supermetrics.com/images/dsLogos/Custom_Connector_Default.png
        created_at:
          type: string
          format: date-time
          maxLength: 30
          description: Creation timestamp in ISO 8601 format
          example: '2025-01-01T00:00:00+00:00'
        updated_at:
          type: string
          format: date-time
          maxLength: 30
          description: Last update timestamp in ISO 8601 format
          example: '2025-01-01T00:00:00+00:00'
    ConnectorWithConfiguration:
      description: A connector with its full configuration included.
      allOf:
      - $ref: '#/components/schemas/Connector'
      - type: object
        properties:
          configuration:
            $ref: '#/components/schemas/ConnectorConfiguration'
    CreateBackfillRequest:
      type: object
      required:
      - range_start
      - range_end
      properties:
        range_start:
          type: string
          format: date
          maxLength: 10
          description: Start date of the backfill range (inclusive)
          example: '2024-01-01'
          pattern: ^\d{4}-\d{2}-\d{2}$
        range_end:
          type: string
          format: date
          maxLength: 10
          description: End date of the backfill range (inclusive)
          example: '2024-01-31'
          pattern: ^\d{4}-\d{2}-\d{2}$
    CreateSecretRequest:
      type: object
      description: Secret name and value to encrypt and store.
      required:
      - secret_name
      - secret_value
      properties:
        secret_name:
          type: string
          maxLength: 255
          description: Human-readable name for the secret
          example: client_id
        secret_value:
          type: string
          maxLength: 10000
          description: Plaintext value to be encrypted and stored
          example: my-super-secret-value
    DataQuery:
      type: object
      properties:
        api_key:
          type: string
          maxLength: 255
          pattern: ^[A-Za-z0-9_-]+$
          description: API key when not using an authorization header
          example: abc123def456
        schedule_id:
          type: string
          maxLength: 50
          pattern: ^[A-Za-z0-9_-]+$
          description: Schedule ID for this query request. If not provided, one will
            be generated from other query parameters
          example: my_query_123
        ds_id:
          type: string
          maxLength: 50
          pattern: ^[A-Za-z0-9_-]+$
          description: Target data source ID
          example: GAWA
        ds_accounts:
          oneOf:
          - type: string
            maxLength: 50
            pattern: ^[A-Za-z0-9_-]+$
          - type: array
            maxItems: 100
            items:
              type: string
              maxLength: 50
              pattern: ^[A-Za-z0-9_-]+$
          - type: object
          description: List of data source accounts the query should target, or a
            filter for them
          example:
          - account123
          - account456
        ds_segments:
          oneOf:
          - type: string
            maxLength: 50
            pattern: ^[A-Za-z0-9_-]+$
          - type: array
            maxItems: 1000
            items:
              type: string
              maxLength: 50
              pattern: ^[A-Za-z0-9_-]+$
          description: List of data source segment IDs the query should target
          example:
          - segment1
          - segment2
        ds_user:
          type: string
          maxLength: 255
          description: Shorthand parameter to provide one value for ds_users
          example: user@example.com
        ds_users:
          oneOf:
          - type: string
            maxLength: 255
          - type: array
            maxItems: 100
            items:
              type: string
              maxLength: 255
          description: List of data source login usernames to limit when searching
            for suitable authentication
        date_range_type:
          type: string
          maxLength: 50
          description: Type of date range the query should use
        start_date:
          type: string
          maxLength: 100
          description: Fixed or relative start date for your query
          example: yesterday
        end_date:
          type: string
          maxLength: 100
          description: Fixed or relative end date for your query
          example: yesterday
        compare_type:
          type: string
          maxLength: 50
          description: Date range comparison type. Defaults to none
        compare_show:
          type: string
          maxLength: 50
          description: When compare_type is custom, display type for comparison values
        compare_start_date:
          type: string
          maxLength: 100
          description: When compare_type is custom, fixed or relative start date for
            comparison
        compare_end_date:
          type: string
          maxLength: 100
          description: When compare_type is custom, fixed or relative end date for
            comparison
        fields:
          oneOf:
          - type: string
            maxLength: 1000
          - type: array
            maxItems: 100
            items:
              type: string
              maxLength: 100
          - type: array
            maxItems: 100
            items:
              type: object
          description: Target data source fields the query should return
        settings:
          type: object
          description: Settings that should be applied when performing the query
        filter:
          type: string
          maxLength: 5000
          description: Filter string that should be applied to the results
        order_columns:
          type: string
          maxLength: 1000
          description: Order instruction for fields that are split by column
        order_rows:
          oneOf:
          - type: string
            maxLength: 1000
          - type: array
            maxItems: 50
            items:
              type: string
              maxLength: 100
          description: List of order fields and sort directions for result rows
        max_columns:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          description: Maximum number of columns the query results should contain
        max_rows:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000000
          description: Maximum number of rows the query results should contain
        offset_start:
          type: integer
          format: int32
          minimum: 0
          maximum: 1000000
          description: Starting row index for paginated response
        offset_end:
          type: integer
          format: int32
          minimum: 0
          maximum: 1000000
          description: Ending row index for paginated response
        cache_minutes:
          type: integer
          format: int32
          minimum: 0
          maximum: 10080
          description: Maximum allowed age of query results cache in minutes
        sync_timeout:
          type: integer
          format: int32
          minimum: 0
          maximum: 3600
          description: Number of seconds the API should wait for query to finish
      required:
      - ds_id
    DataResponse:
      type: object
      properties:
        meta:
          type: object
          properties:
            request_id:
              type: string
              maxLength: 50
              pattern: ^[A-Za-z0-9_-]+$
              description: API request ID
            schedule_id:
              type: string
              maxLength: 50
              pattern: ^[A-Za-z0-9_-]+$
              description: Custom or generated schedule ID for the query
            status_code:
              type: string
              maxLength: 20
              description: Status code for the query
            query:
              type: object
              properties:
                start_date:
                  type: string
                  maxLength: 10
                  pattern: ^\d{4}-\d{2}-\d{2}$
                  description: Query start date in YYYY-MM-DD format
                end_date:
                  type: string
                  maxLength: 10
                  pattern: ^\d{4}-\d{2}-\d{2}$
                  description: Query end date in YYYY-MM-DD format
                ds_accounts:
                  type: array
                  maxItems: 100
                  items:
                    type: string
                    maxLength: 50
                    pattern: ^[A-Za-z0-9_-]+$
                  description: Data source account IDs used in the query
                ds_segments:
                  type: array
                  maxItems: 1000
                  items:
                    type: string
                    maxLength: 50
                    pattern: ^[A-Za-z0-9_-]+$
                  description: Data source segment IDs used in the query
                fields:
                  type: array
                  maxItems: 100
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        maxLength: 100
                        pattern: ^[A-Za-z0-9_-]+$
                        description: Field ID from the request
                      field_id:
                        type: string
                        maxLength: 100
                        pattern: ^[A-Za-z0-9_-]+$
                        description: Field ID the API uses
                      field_name:
                        type: string
                        maxLength: 255
                        description: Field name
                      field_type:
                        type: string
                        maxLength: 10
                        description: Field type
                      field_split:
                        type: string
                        maxLength: 50
                        description: Field split by type
                      data_type:
                        type: string
                        maxLength: 50
                        description: Field data type
                      data_column:
                        type: integer
                        format: int32
                        minimum: 0
                        maximum: 1000
                        description: Field value position in each data row
                      visible:
                        type: boolean
                        description: Whether data for this field is visible
                compare_type:
                  type: string
                  maxLength: 50
                  description: Date range comparison type used
                compare_show:
                  type: string
                  maxLength: 50
                  description: Display type for comparison values
                compare_start_date:
                  type: string
                  maxLength: 10
                  pattern: ^\d{4}-\d{2}-\d{2}$
                  description: Start date for comparison date range
                compare_end_date:
                  type: string
                  maxLength: 10
                  pattern: ^\d{4}-\d{2}-\d{2}$
                  description: End date for comparison date range
                settings:
                  type: object
                  description: Settings used in query
                cache_minutes:
                  type: integer
                  format: int32
                  minimum: 0
                  maximum: 10080
                  description: Requested maximum age of cache in minutes
            result:
              type: object
              properties:
                total_columns:
                  type: integer
                  format: int32
                  minimum: 0
                  maximum: 1000
                  description: Total amount of columns
                total_rows:
                  type: integer
                  format: int64
                  minimum: 0
                  maximum: 100000000
                  description: Total amount of rows in data
                run_seconds:
                  type: number
                  format: float
                  minimum: 0
                  maximum: 7200
                  description: Number of seconds it took for the query to run
                data_sampled:
                  type: boolean
                  description: If data source has provided sampled data
                cache_used:
                  type: boolean
                  description: If cached data was used
                cache_time:
                  type: string
                  format: date-time
                  maxLength: 30
                  description: ISO 8601 datetime for the most recent cached data
                  nullable: true
            paginate:
              type: object
              properties:
                prev:
                  type: string
                  format: uri
                  maxLength: 500
                  description: URL to previous offset
                next:
                  type: string
                  format: uri
                  maxLength: 500
                  description: URL to next offset
        data:
          type: array
          maxItems: 1000000
          items:
            type: array
            maxItems: 1000
            items:
              type: string
              maxLength: 10000
          description: Query result rows
    DataSourceLogin:
      type: object
      properties:
        '@type':
          type: string
          enum:
          - ds_login
        login_id:
          type: string
          maxLength: 50
          pattern: ^[A-Za-z0-9_-]+$
          description: Supermetrics login ID
        login_type:
          type: string
          maxLength: 100
          description: Authentication type. Note that some data sources support multiple
            types, and user can choose between them.
        username:
          type: string
          maxLength: 255
          description: Authenticated username, used in queries as ds_user
        display_name:
          type: string
          maxLength: 255
          description: Visible name for this authentication in product UIs
        ds_info:
          $ref: '#/components/schemas/DataSource'
        default_scopes:
          type: array
          maxItems: 100
          description: List of default source API scopes used in authentication
          items:
            type: string
            maxLength: 100
        additional_scopes:
          type: array
          maxItems: 100
          description: List of additional source API scopes user has granted to access
            more data
          items:
            type: string
            maxLength: 100
        auth_time:
          type: string
          format: date-time
          maxLength: 50
          description: ISO 8601 datetime for when last user authentication occurred
        auth_user_info:
          $ref: '#/components/schemas/User'
        expiry_time:
          type: string
          nullable: true
          format: date-time
          maxLength: 50
          description: ISO 8601 datetime for when authentication expires, if any
        revoked_time:
          type: string
          nullable: true
          format: date-time
          maxLength: 50
          description: ISO 8601 datetime for when authentication was revoked, if any
        is_refreshable:
          type: boolean
          description: Whether authentication can be automatically refreshed after
            expiry time, without user involvement
        is_shared:
          type: boolean
          description: Whether login is shared with all team users
    DatasourceDetailsResponse:
      type: object
      properties:
        meta:
          type: object
          description: Metadata included in every API response.
          properties:
            request_id:
              $ref: '#/components/schemas/RequestId'
          required:
          - request_id
          additionalProperties: false
        data:
          $ref: '#/components/schemas/DatasourceDetails'
    ErrorResponse:
      type: object
      description: Standard envelope returned by all error (4xx/5xx) responses.
      properties:
        meta:
          type: object
          description: Metadata included in every API response.
          properties:
            request_id:
              $ref: '#/components/schemas/RequestId'
          required:
          - request_id
          additionalProperties: false
        error:
          $ref: '#/components/schemas/Error'
      required:
      - meta
      - error
      additionalProperties: false
    LogEntry:
      type: object
      description: A connector execution log entry.
      properties:
        id:
          type: string
          maxLength: 255
          description: Log entry identifier
          example: 123-foo
        log_time:
          type: string
          format: date-time
          maxLength: 30
          description: Timestamp of the log entry
          example: '2025-01-01T00:00:00Z'
        status:
          type: integer
          format: int32
          nullable: true
          minimum: 100
          maximum: 599
          description: HTTP status code
          example: 200
        event:
          type: string
          nullable: true
          maxLength: 255
          description: Event type
          example: auth.token.refresh
        request:
          type: string
          nullable: true
          maxLength: 1000
          description: Request method and path
          example: POST /api/oauth/token_refresh
        duration_ms:
          type: integer
          format: int32
          nullable: true
          minimum: 0
          description: Request duration in milliseconds
          example: 253
        request_id:
          type: string
          format: uuid
          nullable: true
          description: Request tracking identifier
    LoginLink:
      type: object
      properties:
        link_id:
          type: string
          maxLength: 50
          description: Supermetrics login link ID
        status_code:
          type: string
          maxLength: 50
          description: Current link status
          enum:
          - OPEN
          - CLOSED
          - EXPIRED
        description:
          type: string
          maxLength: 1000
          description: Internal link description. Not shown during authentication
            attempt.
        ds_id:
          type: string
          maxLength: 50
          description: Data source ID
        ds_name:
          type: string
          maxLength: 255
          description: Data source name
        require_username:
          type: string
          maxLength: 255
          description: Data source username that must be used in authentication attempt
        redirect_url:
          type: string
          maxLength: 500
          description: Custom URL to redirect to after successful authentication,
            if any
        redirect_verifier:
          type: string
          maxLength: 255
          description: Internal verifier string that is passed to redirect_url
        user_id:
          type: string
          maxLength: 50
          description: Supermetrics user ID of the user who will be marked as the
            primary owner of the login credentials
        user_email:
          type: string
          maxLength: 255
          description: Supermetrics user email
        login_url:
          type: string
          maxLength: 500
          description: Full URL to initiate an authentication attempt. Can be accessed
            multiple times while link is open.
        created_time:
          type: string
          format: date-time
          maxLength: 50
          description: ISO 8601 datetime for when login link was created
        expiry_time:
          type: string
          format: date-time
          maxLength: 50
          description: ISO 8601 datetime for when login link will expire
        login_id:
          type: string
          nullable: true
          maxLength: 50
          description: Supermetrics login ID for a successful authentication
        login_time:
          type: string
          nullable: true
          format: date-time
          maxLength: 50
          description: ISO 8601 datetime for when authentication occurred
        login_username:
          type: string
          nullable: true
          maxLength: 255
          description: Username used to authenticate to data source
    LoginLinkResponse:
      type: object
      properties:
        meta:
          type: object
          description: Metadata included in every API response.
          properties:
            request_id:
              $ref: '#/components/schemas/RequestId'
          required:
          - request_id
          additionalProperties: false
        data:
          $ref: '#/components/schemas/LoginLink'
    ResponseMeta:
      type: object
      description: Metadata included in every API response.
      properties:
        request_id:
          $ref: '#/components/schemas/RequestId'
      required:
      - request_id
      additionalProperties: false
    Secret:
      type: object
      description: A connector secret (value is never returned).
      required:
      - secret_placeholder
      - secret_name
      properties:
        secret_placeholder:
          type: string
          maxLength: 100
          description: Unique identifier for the secret
          example: sec_a23f23d26
        secret_name:
          type: string
          maxLength: 255
          description: Human-readable name of the secret
          example: client_id
    UpdateConnectorRequest:
      type: object
      description: Connector metadata and configuration to update.
      properties:
        connector:
          type: object
          description: Connector metadata to update
          required:
          - name
          - description
          properties:
            name:
              type: string
              maxLength: 255
              description: Name of the connector
            description:
              type: string
              maxLength: 1000
              description: Description of the connector
        configuration:
          type: object
          description: Connector configuration to update
          required:
          - configuration_json
          properties:
            configuration_json:
              type: object
              description: JSON configuration data
    UpdateSecretRequest:
      type: object
      description: New secret value to overwrite the existing one.
      required:
      - secret_value
      properties:
        secret_value:
          type: string
          maxLength: 10000
          description: New plaintext value to overwrite the existing one
          example: new-secret-value
    ConnectorConfiguration:
      type: object
      description: Configuration data for a connector.
      properties:
        version:
          type: string
          maxLength: 20
          description: Version of the configuration
          example: 1.0.0
        configuration_json:
          type: object
          description: JSON configuration data
        created_at:
          type: string
          format: date-time
          maxLength: 30
          description: Configuration creation timestamp in ISO 8601 format
          example: '2025-01-01T00:00:00+00:00'
        updated_at:
          type: string
          format: date-time
          maxLength: 30
          description: Configuration last update timestamp in ISO 8601 format
          example: '2025-01-01T00:00:00+00:00'
    DataSource:
      type: object
      properties:
        '@type':
          type: string
          enum:
          - ds
        ds_id:
          type: string
          maxLength: 50
          pattern: ^[A-Za-z0-9_-]+$
          description: Data source ID
        name:
          type: string
          maxLength: 255
          description: Data source name
    DatasourceDetails:
      type: object
      properties:
        id:
          type: string
          maxLength: 100
          example: GAWA
        name:
          type: string
          maxLength: 100
          example: Google Analytics 4
        description:
          type: string
          maxLength: 2000
        marketing_name:
          type: string
          maxLength: 100
          nullable: true
        logo_url:
          type: string
          maxLength: 500
        categories:
          type: array
          maxItems: 50
          items:
            type: string
            enum:
            - Ad Verification
            - Affiliate
            - Analytics
            - Brand Reputation
            - CRM/Sales
            - Data Warehouses
            - DSP
            - Ecommerce
            - Files
            - Marketing Attribution
            - Marketing Automation
            - Mobile
            - Other
            - Paid Media
            - Payments
            - Retail Media
            - Search
            - SEO
            - Social Media
        products:
          type: array
          maxItems: 50
          items:
            type: string
            maxLength: 100
          example:
          - API
          - DS
          - SHEETS
          - EXCEL
          - DWH
        status:
          type: string
          enum:
          - Early access
          - Released
          example: Released
        is_premium:
          type: boolean
          example: false
        tags:
          type: array
          maxItems: 50
          items:
            type: string
            maxLength: 100
          example:
          - popular
        is_authentication_required:
          type: boolean
          example: true
        has_account_list:
          type: boolean
          example: true
        has_fields:
          type: boolean
          example: true
        has_segments:
          type: boolean
          example: false
        has_report_type_selection:
          type: boolean
          example: false
        is_date_range_required:
          type: boolean
          example: true
        is_custom_data_import:
          type: boolean
          example: false
        min_metrics:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          nullable: true
          example: 1
        max_metrics:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          nullable: true
          example: 10
        min_dimensions:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          nullable: true
          example: 0
        max_dimensions:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          nullable: true
          example: 9
        report_type_header_label:
          type: string
          maxLength: 100
          example: Report Type
        account_labels:
          type: object
          nullable: true
          properties:
            plural:
              type: string
              maxLength: 100
            singular:
              type: string
              maxLength: 100
        report_types:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/DatasourceReportType'
        common_settings:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/DatasourceSetting'
    Error:
      type: object
      description: Machine- and human-readable detail for a failed request.
      properties:
        code:
          type: string
          pattern: ^[A-Z][A-Z0-9_]*$
          maxLength: 100
          description: 'Stable, screaming-snake-case identifier for the error condition.
            Clients should branch on this, not on `message`. Common values include
            BAD_REQUEST, UNAUTHORIZED, FORBIDDEN, NOT_FOUND, CONFLICT_ERROR, PERMISSION_ERROR,
            UNPROCESSABLE_ENTITY, UNPROCESSABLE_CONTENT, TOO_MANY_REQUESTS, INTERNAL_SERVER_ERROR,
            DUPLICATION_FAILED, SERVICE_UNAVAILABLE; domains may define additional
            codes.

            '
          example: BAD_REQUEST
        message:
          type: string
          maxLength: 255
          pattern: ^.+$
          description: Short, human-readable summary of the error.
          example: The request was invalid.
        description:
          type: string
          maxLength: 2048
          description: Optional longer explanation specific to this occurrence.
          example: The field 'display_name' must not be empty.
      required:
      - code
      - message
      additionalProperties: false
    RequestId:
      type: string
      description: Unique identifier for the request, for tracking and debugging.
      pattern: ^[A-Za-z0-9_-]+$
      minLength: 8
      maxLength: 64
      example: BXaEFVtjc7TXaJxgZhmFgSUD9edqq_CN
      x-faker:
        random.alphaNumeric: 30
    TransferBackfillRunError:
      type: object
      required:
      - transfer_run_date
      - error
      properties:
        transfer_run_date:
          type: string
          format: date
          maxLength: 10
          description: The date of the transfer run that failed
          example: '2024-01-15'
        error:
          type: string
          maxLength: 1000
          description: Error message describing what went wrong
          example: Connection timeout to data source
    User:
      type: object
      properties:
        '@type':
          type: string
          enum:
          - user
        user_id:
          type: string
          maxLength: 50
          pattern: ^[A-Za-z0-9_-]+$
          description: Supermetrics user ID
        email:
          type: string
          format: email
          maxLength: 255
          description: Supermetrics user email
    DatasourceReportType:
      type: object
      properties:
        label:
          type: string
          maxLength: 100
        id:
          type: string
          maxLength: 100
        is_date_range_required:
          type: boolean
        is_free_text_account_required:
          type: boolean
        settings:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/DatasourceSetting'
    DatasourceSetting:
      type: object
      properties:
        setting_id:
          type: string
          maxLength: 100
        context:
          type: string
          enum:
          - options
          - reportConfiguration
        type:
          type: string
          enum:
          - checkbox
          - combobox
          - none
          - select
          - text
          - textarea
          - radio
        label:
          type: string
          maxLength: 100
        help_text:
          type: string
          maxLength: 2000
          nullable: true
        default_value:
          type: string
          maxLength: 255
          nullable: true
        options:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/DatasourceOption'
        is_value_required:
          type: boolean
    DatasourceOption:
      type: object
      properties:
        option_id:
          type: string
          maxLength: 100
        label:
          type: string
          maxLength: 100
  responses:
    BadRequest:
      description: Bad request - invalid parameters
      headers:
        X-RateLimit-Limit:
          description: Request limit per hour
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 10000
            example: 5000
        X-RateLimit-Remaining:
          description: Remaining requests in current window
          schema:
            type: integer
            format: int32
            minimum: 0
            maximum: 10000
            example: 4999
        Access-Control-Allow-Origin:
          description: CORS header
          schema:
            type: string
            maxLength: 255
            enum:
            - '*'
            example: '*'
      content:
        application/json:
          schema:
            type: object
            description: Standard envelope returned by all error (4xx/5xx) responses.
            properties:
              meta:
                type: object
                description: Metadata included in every API response.
                properties:
                  request_id:
                    $ref: '#/components/schemas/RequestId'
                required:
                - request_id
                additionalProperties: false
              error:
                $ref: '#/components/schemas/Error'
            required:
            - meta
            - error
            additionalProperties: false
          example:
            meta:
              request_id: BXaEFVtjc7TXaJxgZhmFgSUD9edqq_CN
            error:
              code: BAD_REQUEST
              message: The request was invalid.
    Conflict:
      description: Conflict - resource already exists
      headers:
        X-RateLimit-Limit:
          description: Request limit per hour
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 10000
            example: 5000
        X-RateLimit-Remaining:
          description: Remaining requests in current window
          schema:
            type: integer
            format: int32
            minimum: 0
            maximum: 10000
            example: 4999
        Access-Control-Allow-Origin:
          description: CORS header
          schema:
            type: string
            maxLength: 255
            enum:
            - '*'
            example: '*'
      content:
        application/json:
          schema:
            type: object
            description: Standard envelope returned by all error (4xx/5xx) responses.
            properties:
              meta:
                type: object
                description: Metadata included in every API response.
                properties:
                  request_id:
                    $ref: '#/components/schemas/RequestId'
                required:
                - request_id
                additionalProperties: false
              error:
                $ref: '#/components/schemas/Error'
            required:
            - meta
            - error
            additionalProperties: false
          example:
            meta:
              request_id: BXaEFVtjc7TXaJxgZhmFgSUD9edqq_CN
            error:
[...]
