openapi: 3.0.3
info:
  title: Supermetrics API
  version: 2.0.0
  description: Supermetrics API for authentication and data querying. For more information,
    visit https://supermetrics.com.
  contact:
    name: Supermetrics Support
    email: support@supermetrics.com
    url: https://supermetrics.com/support
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.supermetrics.com/v2
  description: Global production public Supermetrics Data API base path.
  x-internal: false
- url: https://api.supermetrics.com
  description: Global production public Supermetrics API base path for datasource
    search.
  x-internal: false
- url: https://api.supermetrics.com/v2
  description: Global production public Supermetrics Management API base path.
  x-internal: false
- url: https://api.supermetrics.com
  description: Global production public Supermetrics API base path (for Connector
    Builder and Team endpoints).
  x-internal: false
- url: https://dts-api.supermetrics.com/v1
  description: Data Backfills API
- url: https://dts-api.supermetrics.com/v1
  description: Global production public Supermetrics Data Warehouse Data Source Connections
    API base path.
  x-internal: false
- url: https://dts-api.supermetrics.com
  description: Global production public Supermetrics Data Warehouse Transfer Runs
    API base path.
  x-internal: false
- url: https://dts-api.supermetrics.com
  description: Global production public Supermetrics Data Warehouse Transfers API
    base path.
  x-internal: false
- url: https://api.supermetrics.com
  description: production server
  x-internal: false
- url: https://dts-api.supermetrics.com/v1
  description: Global production public Supermetrics Data Warehouse Destinations API
    base path.
  x-internal: false
- url: https://api.supermetrics.com/enterprise/v2
  description: Global production public Supermetrics Data Warehouse Table Groups API
    base path.
  x-internal: false
paths:
  /ds/login/link:
    post:
      summary: Create login link
      description: Create a new data source login link
      operationId: createLoginLink
      tags:
      - Data Source Login Links
      security:
      - BearerAuth: []
      requestBody:
        description: Login link creation parameters including data source and expiration
          settings
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - ds_id
              properties:
                ds_id:
                  type: string
                  maxLength: 50
                  pattern: ^[A-Za-z0-9_-]+$
                  description: Data source ID
                expiry_time:
                  type: string
                  format: date-time
                  maxLength: 50
                  description: Link expiry time as datetime in ISO 8601 format or
                    relative time string (e.g. "10 hours"). Defaulting to 24 hours
                    from creation time.
                description:
                  type: string
                  maxLength: 1000
                  description: Internal description for the link. Not shown during
                    the authentication attempt.
                require_username:
                  type: string
                  maxLength: 255
                  description: Data source username that needs to be used in authentication
                    attempt. Normally used when renewing existing credentials.
                redirect_url:
                  type: string
                  format: uri
                  maxLength: 500
                  description: Custom URL to redirect to after successful authentication.
            example:
              ds_id: GAWA
              expiry_time: '2026-03-01T23:59:59Z'
              description: Google Analytics login link for marketing team
              require_username: marketing@company.com
              redirect_url: https://company.com/auth/success
      responses:
        '201':
          description: Login link created successfully
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginLinkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/LinkLimitExceeded'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /ds/login/link/{link_id}:
    get:
      summary: Get login link
      description: Get details of a specific login link
      operationId: getLoginLink
      tags:
      - Data Source Login Links
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Login link details retrieved successfully
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginLinkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/LinkNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    parameters:
    - name: link_id
      in: path
      required: true
      schema:
        type: string
        maxLength: 50
        pattern: ^[A-Za-z0-9_-]+$
      description: Supermetrics login link ID
    servers:
    - url: https://api.supermetrics.com
      description: production server
      x-internal: false
    patch:
      summary: Update login link
      description: Change given properties for specified data source login link
      operationId: updateLoginLink
      security:
      - ApiKeyAuth:
        - ds_login_links_write
      parameters:
      - name: link_id
        in: path
        required: true
        description: Entity link ID
        schema:
          type: string
          maxLength: 50
          pattern: ^[A-Za-z0-9_-]+$
      requestBody:
        description: Login link update parameters for modifying link properties
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  maxLength: 1000
                  description: Description for the link
            example:
              description: Updated login link description
      responses:
        '200':
          description: Login link updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginLinkResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      tags:
      - Data Source Login Links
  /ds/login/link/{link_id}/close:
    put:
      summary: Close login link
      description: Close a login link. Link will stop accepting new requests once
        closed, but closing will not affect already started authentication attempts.
      operationId: closeLoginLink
      tags:
      - Data Source Login Links
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Login link closed successfully
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginLinkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/LinkNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/LinkUpdateFailed'
    parameters:
    - name: link_id
      in: path
      required: true
      schema:
        type: string
        maxLength: 50
        pattern: ^[A-Za-z0-9_-]+$
      description: Supermetrics login link ID
  /ds/login/links:
    get:
      summary: List login links
      description: List all data source login links
      operationId: listLoginLinks
      tags:
      - Data Source Login Links
      security:
      - BearerAuth: []
      responses:
        '200':
          description: List of login links retrieved successfully
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
                  data:
                    type: array
                    maxItems: 1000
                    items:
                      $ref: '#/components/schemas/LoginLink'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /ds/login/{login_id}:
    delete:
      summary: Revoke login
      description: Revoke an existing data source login
      operationId: revokeDataSourceLogin
      security:
      - ApiKeyAuth:
        - ds_logins_write
      parameters:
      - name: login_id
        in: path
        required: true
        description: Entity login ID
        schema:
          type: string
          maxLength: 50
          pattern: ^[A-Za-z0-9_-]+$
      responses:
        '200':
          description: Data source login revoked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginRevokeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      tags:
      - Data Source Logins
    parameters:
    - name: login_id
      in: path
      required: true
      schema:
        type: string
        maxLength: 50
        pattern: ^[A-Za-z0-9_-]+$
      description: Supermetrics login ID
    servers:
    - url: https://api.supermetrics.com
      description: production server
      x-internal: false
    get:
      summary: Get login
      description: Retrieve details of a specific data source login
      operationId: getDataSourceLogin
      tags:
      - Data Source Logins
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Data source login details retrieved successfully
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
                  data:
                    $ref: '#/components/schemas/DataSourceLogin'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/LoginNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/LoginSearchFailed'
  /ds/login/{login_id}/accounts:
    get:
      summary: List login accounts
      description: List stored data source accounts for specified data source login
      operationId: listDataSourceLoginAccounts
      security:
      - ApiKeyAuth:
        - ds_accounts_read
      parameters:
      - name: login_id
        in: path
        description: Entity login ID
        required: true
        schema:
          type: string
          maxLength: 50
          pattern: ^[A-Za-z0-9_-]+$
      - name: offset
        in: query
        description: Pagination offset for the number of items to return. Defaults
          to 0.
        required: false
        schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 1000000
          default: 0
      - name: limit
        in: query
        description: Maximum number of items to return. Defaults to 100, maximum of
          1000 is enforced.
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          default: 100
      responses:
        '200':
          description: List of data source accounts retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSourceAccountListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      tags:
      - Data Source Logins
    servers:
    - url: https://api.supermetrics.com
      description: production server
      x-internal: false
  /ds/logins:
    get:
      summary: List logins
      description: Retrieve a list of all data source logins
      operationId: listDataSourceLogins
      tags:
      - Data Source Logins
      security:
      - BearerAuth: []
      responses:
        '200':
          description: List of data source logins retrieved successfully
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
                  data:
                    type: array
                    maxItems: 1000
                    items:
                      $ref: '#/components/schemas/DataSourceLogin'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/LoginSearchFailed'
  /enterprise/v2/table/group/import:
    post:
      summary: Import table group
      description: Create a new table group from a data model.
      operationId: importTableGroup
      tags:
      - Table Groups
      security:
      - ApiKeyAuth: []
      requestBody:
        description: Table group import data including version, group configuration,
          and table definitions
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - version
              - group
              - tables
              properties:
                version:
                  type: integer
                  format: int32
                  minimum: 1
                  maximum: 100
                  description: Data model version for the received data
                group:
                  $ref: '#/components/schemas/TableGroupImport'
                tables:
                  type: array
                  maxItems: 1000
                  description: List of table objects
                  items:
                    $ref: '#/components/schemas/TableDefinition'
                fields:
                  type: array
                  maxItems: 10000
                  description: List of field objects
                  items:
                    $ref: '#/components/schemas/FieldDefinition'
            example:
              version: 1
              group:
                group_name: Marketing Analytics
                ds_id: GAWA
                table_prefix: MKT
              tables:
              - table_name: SESSIONS
                table_partition: date
                fields:
                - session_id
                - date
                - users
              fields:
              - field_id: session_id
                target_name: session_id
              - field_id: date
                target_name: session_date
              - field_id: users
                target_name: user_count
      responses:
        '201':
          description: Table group imported successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableGroupResponse'
        '400':
          $ref: '#/components/responses/TableGroupImportError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/TableGroupNotFound'
        '409':
          $ref: '#/components/responses/TableGroupNameConflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/TableGroupCreateFailed'
    servers:
    - url: https://api.supermetrics.com/enterprise/v2
      description: Global production public Supermetrics Data Warehouse Table Groups
        API base path.
      x-internal: false
  /enterprise/v2/table/group/{group_id}:
    put:
      summary: Edit table group
      description: 'Update an existing table group''s definition (full replace).

        The request body uses the same `{group, tables, fields}` structure that Import
        accepts and Export returns, so the natural workflow is export → edit → PUT.
        The data model `version` is specified via the required query parameter, not
        in the request body.


        This is a full replace — all tables and fields must be provided. Omitting
        `fields` clears all field mappings. Tables and fields are matched to existing
        records by name. Renaming a table or field is equivalent to removing the old
        one and adding a new one — the old table''s settings and query filter linkage
        are lost.


        The `ignore_errors` and `ds_settings` properties are not yet supported on
        this endpoint and will be rejected with 422 if present.

        '
      operationId: editTableGroup
      tags:
      - Table Groups
      security:
      - ApiKeyAuth: []
      requestBody:
        description: Full table group definition to replace the existing one
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - group
              - tables
              properties:
                group:
                  $ref: '#/components/schemas/TableGroupImport'
                tables:
                  type: array
                  maxItems: 1000
                  description: List of table objects
                  items:
                    $ref: '#/components/schemas/TableDefinition'
                fields:
                  type: array
                  maxItems: 10000
                  description: List of field objects. Omitting this property clears
                    all field mappings (full replace).
                  items:
                    $ref: '#/components/schemas/FieldDefinition'
            example:
              group:
                group_name: Marketing Analytics Updated
                ds_id: GAWA
                table_prefix: MKT
              tables:
              - table_name: SESSIONS
                table_partition: date
                fields:
                - session_id
                - date
                - users
              - table_name: PAGEVIEWS
                table_partition: date
                fields:
                - date
                - page_path
                - pageviews
              fields:
              - field_id: session_id
                target_name: session_id
              - field_id: date
                target_name: session_date
              - field_id: users
                target_name: user_count
              - field_id: page_path
                target_name: page_path
              - field_id: pageviews
                target_name: page_views
      responses:
        '200':
          description: Table group updated successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableGroupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/TableGroupNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    parameters:
    - name: group_id
      in: path
      required: true
      schema:
        type: string
        maxLength: 50
        pattern: ^[A-Za-z0-9_-]+$
      description: Supermetrics table group ID (prefixed, e.g. tg_123)
    - name: version
      in: query
      required: true
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 100
      description: Data model version for the received data
    servers:
    - url: https://api.supermetrics.com/enterprise/v2
      description: Global production public Supermetrics Data Warehouse Table Groups
        API base path.
      x-internal: false
  /enterprise/v2/table/group/{group_id}/export:
    get:
      summary: Export table group
      description: Export a specific table group's data model.
      operationId: exportTableGroup
      tags:
      - Table Groups
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Table group data model exported successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: integer
                    format: int32
                    minimum: 1
                    maximum: 100
                    description: Data model version
                  group:
                    $ref: '#/components/schemas/TableGroupExport'
                  tables:
                    type: array
                    maxItems: 1000
                    description: List of table objects
                    items:
                      $ref: '#/components/schemas/TableDefinition'
                  fields:
                    type: array
                    maxItems: 10000
                    description: List of field objects
                    items:
                      $ref: '#/components/schemas/FieldDefinition'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/TableGroupNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/TableGroupSearchFailed'
    parameters:
    - name: group_id
      in: path
      required: true
      schema:
        type: string
        maxLength: 50
        pattern: ^[A-Za-z0-9_-]+$
      description: Supermetrics table group ID
    - name: version
      in: query
      required: true
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 100
      description: Data model version for the returned data
    servers:
    - url: https://api.supermetrics.com/enterprise/v2
      description: Global production public Supermetrics Data Warehouse Table Groups
        API base path.
      x-internal: false
  /enterprise/v2/table/groups:
    get:
      summary: List table groups
      description: List all table groups available for the team.
      operationId: listTableGroups
      tags:
      - Table Groups
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: List of table groups retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: array
                    maxItems: 1000
                    items:
                      $ref: '#/components/schemas/TableGroup'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/TableGroupSearchFailed'
    servers:
    - url: https://api.supermetrics.com/enterprise/v2
      description: Global production public Supermetrics Data Warehouse Table Groups
        API base path.
      x-internal: false
  /query/accounts:
    get:
      summary: Get accounts
      description: Retrieve a list of available data source logins (authentications)
        and their accounts
      operationId: getAccounts
      tags:
      - Data source
      parameters:
      - name: json
        in: query
        required: true
        description: JSON-encoded account query parameters
        example:
          ds_id: GAWA
        schema:
          type: object
          required:
          - ds_id
          properties:
            api_key:
              type: string
              maxLength: 255
              pattern: ^[A-Za-z0-9_-]+$
              description: API key when not using an authorization header
            ds_id:
              type: string
              maxLength: 50
              pattern: ^[A-Za-z0-9_-]+$
              description: Data source ID
            ds_users:
              oneOf:
              - type: string
                maxLength: 255
              - type: array
                maxItems: 100
                items:
                  type: string
                  maxLength: 255
              description: List of data source login usernames to target (case-insensitive)
            cache_minutes:
              type: integer
              format: int32
              description: Maximum allowed age of cache in minutes
              minimum: 60
              maximum: 1440
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Accounts retrieved successfully
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        maxLength: 50
                        pattern: ^[A-Za-z0-9_-]+$
                        description: API request ID
                      query:
                        type: object
                        properties:
                          cache_minutes:
                            type: integer
                            nullable: true
                            format: int32
                            minimum: 60
                            maximum: 1440
                            description: Requested maximum age of cache in minutes
                  data:
                    type: array
                    maxItems: 100
                    items:
                      type: object
                      properties:
                        ds_user:
                          type: string
                          maxLength: 255
                          description: Data source login username
                        display_name:
                          type: string
                          maxLength: 255
                          description: Display name for login
                        cache_time:
                          type: string
                          nullable: true
                          format: date-time
                          maxLength: 30
                          description: ISO 8601 datetime for the last time the login
                            data was fetched and cached
                        accounts:
                          type: array
                          maxItems: 1000
                          items:
                            type: object
                            properties:
                              account_id:
                                type: string
                                maxLength: 50
                                description: Account ID
                              account_name:
                                type: string
                                maxLength: 255
                                description: Account name
                              group_name:
                                type: string
                                maxLength: 255
                                description: Account group name (empty string when
                                  not available)
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /query/data/json:
    get:
      summary: Query data
      description: Execute a query to retrieve data from a specified data source
      operationId: getData
      tags:
      - Get data
      parameters:
      - name: json
        in: query
        required: true
        description: JSON-encoded data query parameters
        example:
          ds_id: GAWA
          start_date: yesterday
          end_date: yesterday
          fields:
          - date
          - sessions
        schema:
          $ref: '#/components/schemas/DataQuery'
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Query executed successfully
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /teams/{team_id}/backfills:
    get:
      summary: List incomplete backfills for team
      description: 'Retrieve a list of all incomplete backfills for your team.

        This endpoint returns only backfills that are not yet finished.


        **What are "incomplete" backfills?**

        - **Included:** Backfills with status `CREATED`, `SCHEDULED`, `RUNNING`, or
        `FAILED`

        - **Excluded:** Backfills with status `COMPLETED` or `CANCELLED`


        **Returns:** Array of backfill objects sorted by creation time (newest first).


        **Important Notes:**

        - Requires scope `dwh_transfers_read`

        - Your account must have `dwh.transfer.view` permission. See [roles and permissions](https://docs.supermetrics.com/docs/about-supermetrics-teams-and-user-roles#user-roles).

        - Only backfills belonging to your team are returned

        - The list includes backfills for all transfers in your team

        - Each backfill includes real-time progress tracking for running backfills

        '
      operationId: listIncompleteBackfills
      tags:
      - Data Backfills
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/DwhTeamIdPathParam'
      responses:
        '200':
          description: List of incomplete backfills retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                type: object
                required:
                - meta
                - data
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
                  data:
                    type: array
                    maxItems: 100
                    items:
                      $ref: '#/components/schemas/Backfill'
                    description: Array of incomplete backfill objects
              examples:
                multipleBackfills:
                  summary: Multiple incomplete backfills
                  value:
                    meta:
                      request_id: 01892A4D-7586-7000-8000-000000000000
                    data:
                    - transfer_backfill_id: 12347
                      transfer_id: 456790
                      range_start_date: '2024-02-01'
                      range_end_date: '2024-02-28'
                      created_time: '2024-03-01T14:00:00Z'
                      created_user_id: 789
                      start_time: '2024-03-01T14:30:00Z'
                      end_time: null
                      status: RUNNING
                      transfer_runs_total: 28
                      transfer_runs_created: 28
                      transfer_runs_completed: 15
                      transfer_runs_failed: 0
                      error_report: []
                    - transfer_backfill_id: 12346
                      transfer_id: 456789
                      range_start_date: '2024-01-15'
                      range_end_date: '2024-01-31'
                      created_time: '2024-02-15T09:30:00Z'
                      created_user_id: 790
                      start_time: '2024-02-15T10:00:00Z'
                      end_time: null
                      status: RUNNING
                      transfer_runs_total: 17
                      transfer_runs_created: 17
                      transfer_runs_completed: 10
                      transfer_runs_failed: 0
                      error_report: []
                    - transfer_backfill_id: 12345
                      transfer_id: 456788
                      range_start_date: '2024-01-01'
                      range_end_date: '2024-01-14'
                      created_time: '2024-02-01T08:00:00Z'
                      created_user_id: 789
                      start_time: null
                      end_time: null
                      status: SCHEDULED
                      transfer_runs_total: 14
                      transfer_runs_created: 14
                      transfer_runs_completed: 0
                      transfer_runs_failed: 0
                      error_report: []
                emptyList:
                  summary: No incomplete backfills
                  value:
                    meta:
                      request_id: 01892A4D-7586-7000-8000-000000000000
                    data: []
        '401':
          $ref: '#/components/responses/DwhUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/DwhTooManyRequests'
        '500':
          $ref: '#/components/responses/DwhInternalServerError'
    servers:
    - url: https://dts-api.supermetrics.com/v1
      description: Data Backfills API
  /teams/{team_id}/backfills/{backfill_id}:
    get:
      summary: Get backfill by ID
      description: 'Retrieve detailed information about a specific backfill using
        its unique identifier.

        This endpoint returns the complete backfill object with current status, progress
        tracking, and error details.


        **Returns:** The backfill object with its ID, status, progress information,
        and error details if any.


        **Important Notes:**

        - The backfill must exist and belong to your team

        - Requires scope `dwh_transfers_read`

        - Your account must have `dwh.transfer.view` permission. See [roles and permissions](https://docs.supermetrics.com/docs/about-supermetrics-teams-and-user-roles#user-roles).

        - Returns 404 if the backfill does not exist or does not belong to your team

        - The backfill object includes real-time progress tracking for running backfills

        '
      operationId: getBackfillById
      tags:
      - Data Backfills
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/DwhTeamIdPathParam'
      - $ref: '#/components/parameters/DwhBackfillIdPathParam'
      responses:
        '200':
          description: Backfill retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackfillResponse'
              example:
                meta:
                  request_id: 01892A4D-7586-7000-8000-000000000000
                data:
                  transfer_backfill_id: 12345
                  transfer_id: 456789
                  range_start_date: '2024-01-01'
                  range_end_date: '2024-01-31'
                  created_time: '2024-02-01T09:00:00Z'
                  created_user_id: 789
                  start_time: '2024-02-01T10:00:00Z'
                  end_time: null
                  status: RUNNING
                  transfer_runs_total: 31
                  transfer_runs_created: 31
                  transfer_runs_completed: 25
                  transfer_runs_failed: 2
                  error_report: []
        '401':
          $ref: '#/components/responses/DwhUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/DwhBackfillNotFound'
        '429':
          $ref: '#/components/responses/DwhTooManyRequests'
        '500':
          $ref: '#/components/responses/DwhInternalServerError'
    servers:
    - url: https://dts-api.supermetrics.com/v1
      description: Data Backfills API
    patch:
      summary: Update backfill status
      description: 'Update the status of a backfill. Currently, the only supported
        operation is

        cancelling a backfill by setting status to "CANCELLED".


        **What happens when you cancel:**

        - Backfill status is changed to "CANCELLED"

        - All pending/queued transfer runs associated with this backfill are cancelled

        - Transfer runs that are already running will complete

        - The backfill''s `end_time` is set to the cancellation time

        - The `removed_time` and `removed_user_id` fields are set


        **Important: This endpoint does NOT delete the backfill.**

        - The backfill record remains in the system with status "CANCELLED"

        - You can still retrieve the backfill information using GET /v1/teams/{team_id}/backfills/{backfill_id}


        **Returns:** The updated backfill object with the new status and updated timestamps.


        **Important Notes:**

        - The backfill must exist and belong to your team

        - Requires scope `dwh_transfers_write`

        - Your account must have `dwh.transfer.edit` permission. See [roles and permissions](https://docs.supermetrics.com/docs/about-supermetrics-teams-and-user-roles#user-roles).

        - Only backfills with incomplete status (CREATED, SCHEDULED, RUNNING, FAILED)
        can be cancelled

        - Returns 404 if the backfill does not exist or does not belong to your team

        - Returns 422 if the backfill cannot be updated (e.g., already in a final
        state)

        '
      operationId: updateBackfillStatus
      tags:
      - Data Backfills
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/DwhTeamIdPathParam'
      - $ref: '#/components/parameters/DwhBackfillIdPathParam'
      requestBody:
        required: true
        description: Status update parameters
        content:
          application/json:
            schema:
              type: object
              required:
              - status
              properties:
                status:
                  type: string
                  description: New status for the backfill. Currently only "CANCELLED"
                    is supported.
                  enum:
                  - CANCELLED
                  example: CANCELLED
            example:
              status: CANCELLED
      responses:
        '200':
          description: Backfill status successfully updated
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackfillResponse'
              example:
                meta:
                  request_id: 01892A4D-7586-7000-8000-000000000000
                data:
                  transfer_backfill_id: 12345
                  transfer_id: 456789
                  range_start_date: '2024-01-01'
                  range_end_date: '2024-01-31'
                  created_time: '2024-02-01T09:00:00Z'
                  created_user_id: 789
                  removed_time: '2024-02-01T15:30:00Z'
                  removed_user_id: 790
                  start_time: '2024-02-01T10:00:00Z'
                  end_time: '2024-02-01T15:30:00Z'
                  status: CANCELLED
                  transfer_runs_total: 31
                  transfer_runs_created: 31
                  transfer_runs_completed: 25
                  transfer_runs_failed: 2
                  error_report: []
        '400':
          $ref: '#/components/responses/DwhBadRequest'
        '401':
          $ref: '#/components/responses/DwhUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/DwhBackfillNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/DwhTooManyRequests'
        '500':
          $ref: '#/components/responses/DwhInternalServerError'
  /teams/{team_id}/data-source-connections:
    post:
      summary: Create data source connection
      description: 'Creates a data source connection for a Hub transfer. This endpoint
        establishes a connection

        between a data source and a destination for use in data warehouse transfers.


        **Returns:** Connection object with connection ID and optional OAuth URLs.


        **Important Notes:**

        - The API key must have `dwh_transfers_write` scope

        - Connection credentials are encrypted and stored securely

        - Some data sources may require OAuth authentication (check `login_url` in
        response)

        - The connection must be created before setting up transfers


        **Legacy Reference:** `POST /data_warehouse/transfer_configuration/connect`

        '
      operationId: createDataSourceConnection
      tags:
      - Data Transfers
      requestBody:
        required: true
        description: Connection configuration specifying data source and destination
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDataSourceConnectionRequest'
            example:
              data_source_id: ADM
              destination_type: DWH_SNOWFLAKE
      responses:
        '201':
          description: Connection created successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDataSourceConnectionResponse'
              examples:
                success:
                  summary: Successful connection creation
                  value:
                    meta:
                      request_id: 019461A0-0000-7000-8000-000000000000
                    data:
                      connection_id: 019461A0-0000-7000-8000-000000000001
                      login_url: null
                      connect_url: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    parameters:
    - $ref: '#/components/parameters/TeamId'
    servers:
    - url: https://dts-api.supermetrics.com/v1
      description: Global production public Supermetrics Data Warehouse Data Source
        Connections API base path.
      x-internal: false
  /teams/{team_id}/datasource/{data_source_id}:
    get:
      summary: Get datasource configuration details
      description: Retrieve complete configuration details for a data source including
        report types, settings, and authentication requirements.
      operationId: getDatasourceDetails
      tags:
      - Datasource
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - name: data_source_id
        in: path
        required: true
        schema:
          type: string
          maxLength: 100
        description: Data source identifier (e.g., "GAWA", "AW", "SA360")
      - name: Sm-App-Id
        in: header
        required: false
        schema:
          type: string
          maxLength: 100
          example: XPLD
        description: Application identifier
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      responses:
        '200':
          description: Successfully retrieved datasource details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasourceDetailsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /teams/{team_id}/destinations:
    get:
      summary: List destinations
      description: List all data warehouse destinations for a team
      operationId: listDestinations
      tags:
      - Data Destinations
      responses:
        '200':
          description: Destinations retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    parameters:
    - $ref: '#/components/parameters/TeamId'
    servers:
    - url: https://dts-api.supermetrics.com/v1
      description: Global production public Supermetrics Data Warehouse Destinations
        API base path.
      x-internal: false
    post:
      summary: Create destination
      description: Create a new data warehouse destination
      operationId: createDestination
      tags:
      - Data Destinations
      requestBody:
        required: true
        description: Destination configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDestinationRequest'
            example:
              type: DWH_SNOWFLAKE
              display_name: My Snowflake Destination
              auth_method: AUTH_METHOD_KEY_PAIR
              fields:
                hostname: any-domain.my-region.snowflakecomputing.com
                warehouse: DEMO_WH
                database_name: TEST_DB
                schema: PUBLIC
                role: ACCOUNTADMIN
                username: USER
                private_key: '-----BEGIN ENCRYPTED PRIVATE KEY-----...'
                passphrase: '***'
      responses:
        '201':
          description: Destination created successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
  /teams/{team_id}/destinations/test-connection:
    post:
      summary: Test destination connection
      description: Test destination connection using credentials
      operationId: testConnection
      tags:
      - Data Destinations
      requestBody:
        required: true
        description: Connection credentials to test
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestConnectionRequest'
            example:
              type: DWH_SNOWFLAKE
              display_name: Test Connection
              auth_method: AUTH_METHOD_KEY_PAIR
              fields:
                hostname: test-domain.snowflakecomputing.com
                warehouse: TEST_WH
                database_name: TEST_DB
                schema: PUBLIC
                role: ACCOUNTADMIN
                username: TEST_USER
                private_key: '-----BEGIN ENCRYPTED PRIVATE KEY-----...'
                passphrase: '***'
      responses:
        '200':
          description: Connection test completed (check response for result)
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestConnectionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    parameters:
    - $ref: '#/components/parameters/TeamId'
    servers:
    - url: https://dts-api.supermetrics.com/v1
      description: Global production public Supermetrics Data Warehouse Destinations
        API base path.
      x-internal: false
  /teams/{team_id}/destinations/{destination_id}:
    delete:
      summary: Delete destination
      description: Remove a destination
      operationId: deleteDestination
      tags:
      - Data Destinations
      parameters:
      - name: destination_id
        in: path
        required: true
        description: Unique identifier for the destination
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 2147483647
        example: 8
      responses:
        '204':
          description: Destination deleted successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    parameters:
    - $ref: '#/components/parameters/TeamId'
    servers:
    - url: https://dts-api.supermetrics.com/v1
      description: Global production public Supermetrics Data Warehouse Destinations
        API base path.
      x-internal: false
    get:
      summary: Get destination details
      description: Fetch data about a destination
      operationId: getDestination
      tags:
      - Data Destinations
      parameters:
      - name: destination_id
        in: path
        required: true
        description: Unique identifier for the destination
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 2147483647
        example: 8
      responses:
        '200':
          description: Destination retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    put:
      summary: Update destination
      description: Update a destinations details
      operationId: updateDestination
      tags:
      - Data Destinations
      parameters:
      - name: destination_id
        in: path
        required: true
        description: Unique identifier for the destination
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 2147483647
        example: 8
      requestBody:
        required: true
        description: Destination configuration changes
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDestinationRequest'
            example:
              type: DWH_SNOWFLAKE
              display_name: Updated Snowflake Destination
              auth_method: AUTH_METHOD_KEY_PAIR
              fields:
                hostname: updated-domain.my-region.snowflakecomputing.com
                warehouse: PRODUCTION_WH
                database_name: PROD_DB
                schema: PUBLIC
                role: SYSADMIN
                username: PROD_USER
      responses:
        '200':
          description: Destination updated successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
  /teams/{team_id}/destinations/{destination_id}/usage:
    get:
      summary: Get destination usage
      description: Get transfers using this destination
      operationId: getDestinationUsage
      tags:
      - Data Destinations
      parameters:
      - name: destination_id
        in: path
        required: true
        description: Unique identifier for the destination
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 2147483647
        example: 8
      responses:
        '200':
          description: Destination usage retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationUsageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    parameters:
    - $ref: '#/components/parameters/TeamId'
    servers:
    - url: https://dts-api.supermetrics.com/v1
      description: Global production public Supermetrics Data Warehouse Destinations
        API base path.
      x-internal: false
  /teams/{team_id}/transfer_runs/{transfer_run_id}:
    get:
      summary: Get transfer run details
      description: 'Retrieve detailed information about a specific transfer run, including
        status,

        timestamps, duration, row counts, and per-query execution details.


        **Returns:** The transfer run object with its ID, status, timing information,
        and query details.


        **Important Notes:**

        - The transfer run must exist and belong to your team

        - Returns 404 if the transfer run does not exist or does not belong to your
        team

        '
      operationId: getTransferRun
      tags:
      - Data Transfers
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - name: transfer_run_id
        in: path
        required: true
        description: Unique identifier of the transfer run
        example: 12345
        schema:
          type: integer
          format: int64
          minimum: 1
      responses:
        '200':
          description: Transfer run retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferRunDetailResponse'
              example:
                meta:
                  request_id: 01892A4D-7586-7000-8000-000000000000
                data:
                  id: 12345
                  status: COMPLETED
                  started_time: '2024-01-15T10:00:00Z'
                  ended_time: '2024-01-15T10:05:30Z'
                  created_time: '2024-01-15T09:55:00Z'
                  queued_time: '2024-01-15T09:58:00Z'
                  query_details:
                  - duration: 12.5
                    status: COMPLETED
                    rows: 3000
                    error_description: null
                  - duration: 8.2
                    status: COMPLETED
                    rows: 1500
                    error_description: null
                  external_id: ext-12345
                  failed_query_amount: 0
                  total_duration: 330.5
                  total_rows: 4500
                  query_amount: 2
                  data_date: '2024-01-15'
                  message: ''
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://dts-api.supermetrics.com
      description: Global production public Supermetrics Data Warehouse Transfer Runs
        API base path.
      x-internal: false
  /teams/{team_id}/transfers:
    get:
      summary: List transfers
      description: 'Retrieve list of transfers for the authenticated team.


        **Returns:** Array of transfer objects with basic information.


        **Important Notes:**

        - Returns only non-deleted transfers belonging to your team

        '
      operationId: listTransfers
      tags:
      - Data Transfers
      parameters:
      - $ref: '#/components/parameters/TeamId'
      responses:
        '200':
          description: Transfers retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferListResponse'
              example:
                meta:
                  request_id: 019461A0-0000-7000-8000-000000000000
                data:
                - dwh_transfer_id: 36091
                  display_name: AW enhanced 2022-11-17
                  external_transfer_id: ext-36091
                  status: active
                  state: active
                  schedule: daily
                  run_date: '2026-01-01'
                  data_source: null
                  destination: null
                  accounts: []
                  backfill: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://dts-api.supermetrics.com
      description: Global production public Supermetrics Data Warehouse Transfers
        API base path.
      x-internal: false
    post:
      summary: Create transfer
      description: 'Create a new data transfer from a source to a destination.


        **Returns:** The created transfer object with its ID and display name.


        **Important Notes:**

        - Validate configuration using `/v1/teams/{team_id}/transfers/validations`
        before creation

        - Transfer begins processing according to configured schedule

        - Connection to data source must be established first

        '
      operationId: createTransfer
      tags:
      - Data Transfers
      parameters:
      - $ref: '#/components/parameters/TeamId'
      requestBody:
        required: true
        description: Transfer configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferConfigurationRequest'
      responses:
        '201':
          description: Transfer created successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferCreatedEnvelope'
              example:
                meta:
                  request_id: 019461A0-0000-7000-8000-000000000000
                data:
                  transfer_id: 36091
                  transfer_name: AW enhanced 2022-11-17
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
  /teams/{team_id}/transfers/available-options:
    get:
      summary: Get transfer options
      description: 'Returns all available options for a Hub transfer, according to
        specific data source and destination.


        **Returns:** Transfer configuration parameters for the given source/destination
        combination.

        '
      operationId: getTransferOptions
      tags:
      - Data Transfers
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - name: source_id
        in: query
        required: true
        description: Data source identifier
        schema:
          type: string
          maxLength: 50
        example: ADM
      - name: destination_id
        in: query
        required: true
        description: Destination identifier
        schema:
          type: integer
          format: int32
        example: 8
      responses:
        '200':
          description: Transfer options retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferOptionsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://dts-api.supermetrics.com
      description: Global production public Supermetrics Data Warehouse Transfers
        API base path.
      x-internal: false
  /teams/{team_id}/transfers/available-sources:
    get:
      summary: Get available sources
      description: 'Returns all available data sources and destinations for a Hub
        transfer.


        **Returns:** Initial configuration data including available sources and destinations.

        '
      operationId: getAvailableSources
      tags:
      - Data Transfers
      parameters:
      - $ref: '#/components/parameters/TeamId'
      responses:
        '200':
          description: Available sources retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableSourcesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://dts-api.supermetrics.com
      description: Global production public Supermetrics Data Warehouse Transfers
        API base path.
      x-internal: false
  /teams/{team_id}/transfers/batch:
    post:
      summary: Batch create transfers
      description: 'Create multiple transfers in a single request. Each transfer configuration

        is created independently — if one fails, the others still succeed.

        Mixed data source types are allowed within a single batch.


        The batch must contain between 1 and 100 items. Empty batches, batches

        exceeding 100 items, and exact-duplicate configurations within the same

        batch are rejected. To create copies of an existing transfer, use the

        clone endpoint instead.

        '
      operationId: batchCreateTransfers
      tags:
      - Data Transfers
      requestBody:
        description: Batch of transfer configurations to create
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - transfers
              properties:
                transfers:
                  type: array
                  minItems: 1
                  maxItems: 100
                  description: Array of transfer configurations, each using the same
                    schema as the single-create endpoint
                  items:
                    $ref: '#/components/schemas/TransferConfigurationRequest'
      responses:
        '200':
          description: Batch processed
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: object
                    required:
                    - has_errors
                    - results
                    properties:
                      has_errors:
                        type: boolean
                        description: True if any item in the batch failed
                      results:
                        type: array
                        items:
                          type: object
                          required:
                          - index
                          - status
                          properties:
                            index:
                              type: integer
                              description: Zero-based position in the input array
                            transfer_id:
                              type: integer
                              format: int32
                              description: ID of the created transfer (present on
                                success)
                            transfer_name:
                              type: string
                              description: Display name of the created transfer (present
                                on success)
                            status:
                              type: string
                              enum:
                              - success
                              - error
                            error_code:
                              type: string
                              description: 'Machine-readable error identifier (present
                                on error).

                                Possible values: INVALID_ITEM_DATA, DWH_INVALID_TRANSFER_SETUP_DATA,

                                DWH_TRANSFER_CREATE_FAILED, DWH_BATCH_CREATE_DUPLICATE_CONFIGURATION

                                '
                            message:
                              type: string
                              description: Human-readable error description (present
                                on error)
                            validation_errors:
                              type: array
                              description: Field-level validation details (present
                                when error_code is DWH_INVALID_TRANSFER_SETUP_DATA)
                              items:
                                type: object
                                required:
                                - field_id
                                - error_code
                                - message
                                properties:
                                  field_id:
                                    type: string
                                    description: The field that failed validation
                                  error_code:
                                    type: string
                                    description: Validation error code (values originate
                                      from the validation framework, not an enum-stable
                                      set)
                                  message:
                                    type: string
                                    description: Human-readable validation error message
              example:
                meta:
                  request_id: 019461A0-0000-7000-8000-000000000000
                data:
                  has_errors: true
                  results:
                  - index: 0
                    transfer_id: 36091
                    transfer_name: GA4 -> Snowflake
                    status: success
                  - index: 1
                    status: error
                    error_code: DWH_INVALID_TRANSFER_SETUP_DATA
                    message: Transfer configuration is invalid. Check validation_errors
                      for details.
                    validation_errors:
                    - field_id: destination_id
                      error_code: Value is required
                      message: This field is required and was not provided.
        '400':
          description: 'Batch-level validation failed — no transfers are created.
            Error codes:

            DWH_BATCH_EMPTY, DWH_BATCH_TOO_LARGE, DWH_BATCH_NOT_ARRAY.

            '
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    parameters:
    - $ref: '#/components/parameters/TeamId'
    servers:
    - url: https://dts-api.supermetrics.com
      description: Global production public Supermetrics Data Warehouse Transfers
        API base path.
      x-internal: false
  /teams/{team_id}/transfers/validations:
    post:
      summary: Validate transfer configuration
      description: 'Validates a configuration for a new Hub transfer.


        **Returns:** List of validation errors (empty if valid).


        **Important Notes:**

        - Use this endpoint before creating a transfer to check configuration validity

        - Returns field-level validation errors

        '
      operationId: validateTransfer
      tags:
      - Data Transfers
      parameters:
      - $ref: '#/components/parameters/TeamId'
      requestBody:
        required: true
        description: Transfer configuration to validate
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferConfigurationRequest'
      responses:
        '200':
          description: Validation completed
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://dts-api.supermetrics.com
      description: Global production public Supermetrics Data Warehouse Transfers
        API base path.
      x-internal: false
  /teams/{team_id}/transfers/{transfer_id}:
    delete:
      summary: Delete transfer
      description: 'Delete an existing transfer (soft delete).


        **Returns:** No content on success (HTTP 204).


        **Important Notes:**

        - The transfer must exist and belong to your team

        - This is a soft delete - transfer data is preserved

        - Associated table settings are also cleaned up

        '
      operationId: deleteTransfer
      tags:
      - Data Transfers
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - name: transfer_id
        in: path
        required: true
        description: Unique identifier for the transfer
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 36091
      responses:
        '204':
          description: Transfer deleted successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://dts-api.supermetrics.com
      description: Global production public Supermetrics Data Warehouse Transfers
        API base path.
      x-internal: false
    get:
      summary: Get transfer configuration
      description: 'Returns configuration for an existing Hub transfer.


        **Returns:** Full transfer configuration details.

        '
      operationId: getTransfer
      tags:
      - Data Transfers
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - name: transfer_id
        in: path
        required: true
        description: Unique identifier for the transfer
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 36091
      responses:
        '200':
          description: Transfer configuration retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferConfigurationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
    put:
      summary: Update transfer configuration
      description: 'Updates existing configuration for a Hub transfer.


        **Returns:** Updated transfer object with ID and display name.


        **Important Notes:**

        - Validate configuration using `/v1/teams/{team_id}/transfers/{transfer_id}/validations`
        before updating

        - The transfer must exist and belong to your team

        '
      operationId: updateTransfer
      tags:
      - Data Transfers
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - name: transfer_id
        in: path
        required: true
        description: Unique identifier for the transfer
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 36091
      requestBody:
        required: true
        description: Updated transfer configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferConfigurationRequest'
      responses:
        '200':
          description: Transfer updated successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferUpdatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - ApiKeyAuth: []
  /teams/{team_id}/transfers/{transfer_id}/backfills:
    post:
      summary: Create a backfill
      description: 'Schedule a new backfill for a specific transfer. A backfill re-processes

        historical data for a specified date range.


        **Returns:** The created backfill object with its ID, status, and progress
        information.


        **Important Notes:**

        - The transfer must exist and belong to your team

        - Requires scope `dwh_transfers_write`

        - Your account must have `dwh.transfer.edit` permission. See [roles and permissions](https://docs.supermetrics.com/docs/about-supermetrics-teams-and-user-roles#user-roles).

        - The date range cannot overlap with an existing active backfill

        - Backfills are processed asynchronously

        - The returned backfill object will have status "CREATED" initially

        '
      operationId: createBackfill
      tags:
      - Data Backfills
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/DwhTeamIdPathParam'
      - $ref: '#/components/parameters/DwhTransferIdPathParam'
      requestBody:
        required: true
        description: Backfill creation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBackfillRequest'
            example:
              range_start: '2024-01-01'
              range_end: '2024-01-31'
      responses:
        '200':
          description: Backfill successfully scheduled
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackfillResponse'
              example:
                meta:
                  request_id: 01892A4D-7586-7000-8000-000000000000
                data:
                  transfer_backfill_id: 12345
                  transfer_id: 456789
                  range_start_date: '2024-01-01'
                  range_end_date: '2024-01-31'
                  created_time: '2024-02-01T09:00:00Z'
                  created_user_id: 789
                  start_time: null
                  end_time: null
                  status: CREATED
                  transfer_runs_total: 31
                  transfer_runs_created: 0
                  transfer_runs_completed: 0
                  transfer_runs_failed: 0
                  error_report: []
        '400':
          $ref: '#/components/responses/DwhBadRequest'
        '401':
          $ref: '#/components/responses/DwhUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '404':
          description: Transfer not found
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                meta:
                  request_id: 01892A4D-7586-7000-8000-000000000000
                error:
                  code: NOT_FOUND
                  message: Not Found
                  description: The requested transfer could not be found or you do
                    not have access to it.
        '429':
          $ref: '#/components/responses/DwhTooManyRequests'
        '500':
          $ref: '#/components/responses/DwhInternalServerError'
    servers:
    - url: https://dts-api.supermetrics.com/v1
      description: Data Backfills API
  /teams/{team_id}/transfers/{transfer_id}/backfills/latest:
    get:
      summary: Get latest backfill for a transfer
      description: 'Retrieve information about the most recent backfill for a specific
        transfer.

        This endpoint returns the latest backfill regardless of its status (pending,
        running, completed, failed, or cancelled).


        **Returns:** The latest backfill object with its ID, status, progress information,
        and error details if any.


        **Important Notes:**

        - The transfer must exist and belong to your team

        - Requires scope `dwh_transfers_read`

        - Your account must have `dwh.transfer.view` permission. See [roles and permissions](https://docs.supermetrics.com/docs/about-supermetrics-teams-and-user-roles#user-roles).

        - Returns 404 if no backfill has ever been created for this transfer

        - The backfill object includes real-time progress tracking for running backfills

        '
      operationId: getLatestBackfill
      tags:
      - Data Backfills
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/DwhTeamIdPathParam'
      - $ref: '#/components/parameters/DwhTransferIdPathParam'
      responses:
        '200':
          description: Latest backfill retrieved successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackfillResponse'
              examples:
                runningBackfill:
                  summary: Backfill currently in progress
                  value:
                    meta:
                      request_id: 01892A4D-7586-7000-8000-000000000000
                    data:
                      transfer_backfill_id: 12345
                      transfer_id: 456789
                      range_start_date: '2024-01-01'
                      range_end_date: '2024-01-31'
                      created_time: '2024-02-01T09:00:00Z'
                      created_user_id: 789
                      start_time: '2024-02-01T10:00:00Z'
                      end_time: null
                      status: RUNNING
                      transfer_runs_total: 31
                      transfer_runs_created: 31
                      transfer_runs_completed: 15
                      transfer_runs_failed: 0
                      error_report: []
                completedBackfill:
                  summary: Completed backfill
                  value:
                    meta:
                      request_id: 01892A4D-7586-7000-8000-000000000000
                    data:
                      transfer_backfill_id: 12344
                      transfer_id: 456789
                      range_start_date: '2023-12-01'
                      range_end_date: '2023-12-31'
                      created_time: '2024-01-15T07:00:00Z'
                      created_user_id: 789
                      start_time: '2024-01-15T08:00:00Z'
                      end_time: '2024-01-15T10:30:00Z'
                      status: COMPLETED
                      transfer_runs_total: 31
                      transfer_runs_created: 31
                      transfer_runs_completed: 31
                      transfer_runs_failed: 0
                      error_report: []
        '401':
          $ref: '#/components/responses/DwhUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Transfer or backfill not found
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                meta:
                  request_id: 01892A4D-7586-7000-8000-000000000000
                error:
                  code: NOT_FOUND
                  message: Not Found
                  description: No backfill has been created for this transfer yet,
                    or the transfer does not exist or belong to your team.
        '429':
          $ref: '#/components/responses/DwhTooManyRequests'
        '500':
          $ref: '#/components/responses/DwhInternalServerError'
    servers:
    - url: https://dts-api.supermetrics.com/v1
      description: Data Backfills API
  /teams/{team_id}/transfers/{transfer_id}/clone:
    post:
      summary: Clone transfer
      description: "Clones an existing transfer, optionally overriding selected fields.\
        \ The clone\nis a fully independent transfer — editing or deleting it never\
        \ affects the source.\n\nAll override fields use the exact same structure\
        \ as the Create Transfer endpoint.\nFields not provided in the request body\
        \ are copied from the source transfer.\nNotification recipients are deliberately\
        \ not copied (default to empty) but can\nbe overridden explicitly.\n\n**Restrictions:**\n\
        - The data source is always inherited from the source transfer and cannot\
        \ be overridden.\n  To use a different data source, create a new transfer\
        \ instead.\n- The destination can be changed to a different destination, but\
        \ only if the target\n  destination is the same type as the source (e.g. Snowflake\
        \ to Snowflake, not\n  Snowflake to BigQuery).\n\n**Returns:** The cloned\
        \ transfer object with its new ID and display name.\n"
      operationId: cloneTransfer
      tags:
      - Data Transfers
      parameters:
      - $ref: '#/components/parameters/TeamId'
      - name: transfer_id
        in: path
        required: true
        description: Unique identifier of the source transfer to clone
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 2147483647
        example: 36091
      requestBody:
        required: false
        description: 'Optional overrides for the cloned transfer. Omit entirely or
          send `{}` to clone as-is.

          Each field provided fully replaces the source value (no deep merge).

          '
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type: string
                  maxLength: 255
                  description: Name for the clone. Defaults to "Copy of <source name>"
                  example: My Cloned Transfer
                schema_id:
                  type: integer
                  format: int32
                  minimum: 1
                  maximum: 2147483647
                  description: Schema identifier
                  example: 2
                destination_id:
                  type: integer
                  format: int32
                  minimum: 1
                  maximum: 2147483647
                  description: Destination identifier (must belong to the same team
                    and be the same destination type as the source)
                  example: 8
                accounts:
                  type: array
                  maxItems: 1000
                  description: Data source accounts (replaces source accounts entirely)
                  items:
                    type: object
                    required:
                    - data_source_username
                    - login_id
                    - account_id
                    properties:
                      data_source_username:
                        type: string
                        maxLength: 255
                      login_id:
                        type: integer
                        format: int32
                        minimum: 1
                        maximum: 2147483647
                      account_id:
                        type: string
                        maxLength: 100
                segments:
                  type: array
                  maxItems: 100
                  description: Data segments (replaces source segments entirely)
                  items:
                    type: object
                    required:
                    - data_source_username
                    - segment_id
                    properties:
                      data_source_username:
                        type: string
                        maxLength: 255
                      segment_id:
                        type: string
                        maxLength: 100
                      segment_name:
                        type: string
                        maxLength: 255
                schedule:
                  type: array
                  maxItems: 10
                  description: Transfer execution schedule (replaces source schedule
                    entirely)
                  items:
                    type: object
                    required:
                    - run_interval
                    - refresh_window
                    properties:
                      run_interval:
                        type: string
                        enum:
                        - daily
                        - weekly
                        - monthly
                      run_hour:
                        type: integer
                        format: int32
                        minimum: 0
                        maximum: 23
                        description: Hour of day to run (UTC). Required for daily,
                          weekly, and monthly intervals.
                      run_weekday:
                        type: integer
                        format: int32
                        minimum: 1
                        maximum: 7
                        description: Day of week (1=Monday, 7=Sunday). Required for
                          weekly interval.
                      run_day:
                        type: integer
                        format: int32
                        minimum: 1
                        maximum: 31
                        description: Day of month. Required for monthly interval.
                      refresh_window:
                        type: integer
                        format: int32
                        minimum: 1
                        maximum: 365
                data_source_settings:
                  type: array
                  maxItems: 100
                  description: Source-specific configuration settings
                  items:
                    type: object
                    properties:
                      field_id:
                        type: string
                        maxLength: 100
                      value:
[...]
